[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=edit-find
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_searchaction
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_searchaction
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Search Action
Name[bg]=Претърсване
Name[bs]=Radnja pretraživanja
Name[ca]=Acció de cerca
Name[ca@valencia]=Acció de cerca
Name[cs]=Vyhledávací činnost
Name[da]=Søgehandling
Name[de]=Suchaktion
Name[el]=Πράξη αναζήτησης
Name[en_GB]=Search Action
Name[es]=Acción de búsqueda
Name[et]=Otsimistoiming
Name[fi]=Hakutoiminto
Name[fr]=Action de recherche
Name[gl]=Acción de busca
Name[hr]=Radnja pretraživanja
Name[hu]=Keresés
Name[it]=Azione di ricerca
Name[ja]=検索アクション
Name[km]=ស្វែងរក​សកម្ម​ភាព
Name[nb]=Søkehandling
Name[nds]=Söökakschoon
Name[nl]=Zoekactie
Name[pa]=ਖੋਜ ਕਾਰਵਾਈ
Name[pl]=Wyszukiwanie
Name[pt]=Acção da Pesquisa
Name[pt_BR]=Ação de pesquisa
Name[ru]=Поиск
Name[sl]=Dejanje iskanja
Name[sv]=Sökåẗgärd
Name[tr]=Arama Eylemi
Name[uk]=Дія з пошуку
Name[x-test]=xxSearch Actionxx
Name[zh_CN]=搜索动作
Name[zh_TW]=搜尋動作
Comment=Add a Search action to the UI for Twitter API microblogs like Twitter and GNU social
