[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=edit-find
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_searchaction
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_searchaction
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Search Action
Name[bg]=Претърсване
Name[ca]=Acció de cerca
Name[da]=Søgehandling
Name[de]=Suchaktion
Name[en_GB]=Search Action
Name[es]=Acción de búsqueda
Name[et]=Otsimistoiming
Name[fi]=Etsintätoiminto
Name[fr]=Action de recherche
Name[gl]=Acción de procura
Name[hr]=Radnja pretraživanja
Name[it]=Azione di ricerca
Name[ja]=検索アクション
Name[nb]=Søkehandling
Name[nds]=Söökakschoon
Name[nl]=Zoekactie
Name[pl]=Wyszukiwanie
Name[pt]=Acção da Pesquisa
Name[pt_BR]=Ação de pesquisa
Name[sv]=Sökåẗgärd
Name[tr]=Arama Eylemi
Name[uk]=Дія з пошуку
Name[x-test]=xxSearch Actionxx
Name[zh_CN]=搜索动作
Comment=Add a Search action to the UI for Twitter API microblogs like Twitter and StatusNet
Comment[bg]=Добавяне на действието Търсене към потребителския интерфейс за приложно-програмния интерфейс на микроблогове в Twitter или StatusNet
Comment[ca]=Afegeix una acció de cerca a la IU per l'API de microblocs com ara Twitter i StatusNet
Comment[da]=Føj en søgehandling til brugerfladen til mikroblogs med Twitter-API, såsom Twitter og StatusNet
Comment[en_GB]=Add a Search action to the UI for Twitter API microblogs like Twitter and StatusNet
Comment[es]=Añadir una acción de búsqueda a la interfaz del API de microblogs de Twitter, como Twitter y StatusNet
Comment[et]=Otsimistoimingu lisamine Twitteri API mikroblogide, nt. Twitteri ja StatusNeti kasutajaliidesele
Comment[fr]=Ajouter une action de recherche à l'interface graphique pour les sites de microblogage compatibles avec l'API Twitter comme Twitter et StatusNet
Comment[ja]=Twitter や StatusNet のような Twitter API マイクロブログ用の UI に検索アクションを追加する
Comment[nb]=Legg til en søkehandling til grensesnittet for Twitter Api mikroblogger, slik som Twitter og StatusNet
Comment[pt]=Adiciona uma acção de Pesquisa à interface para a API do Twitter, p.ex. Twitter e StatusNet
Comment[pt_BR]=Adiciona a ação de pesquisa para a interface da API dos micro-blogs Twitter. Por exemplo, Twitter e StatusNet
Comment[sv]=Lägg till en sökåtgärd i användargränssnitt med Twitters programmeringsgränssnitt, t.ex. Twitter och StatusNet
Comment[uk]=Додає дію з пошуку до інтерфейсу користувача мікроблогів з API Twitter, зокрема Twitter і StatusNet
Comment[x-test]=xxAdd a Search action to the UI for Twitter API microblogs like Twitter and StatusNetxx
