[Desktop Entry]
Icon=preferences-desktop-theme
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_appearanceconfig
X-KDE-FactoryName=kcm_choqok_appearanceconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok

Name=Appearance
Name[bg]=Изглед
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[en_GB]=Appearance
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[gl]=Aparencia
Name[hr]=Izgled
Name[it]=Aspetto
Name[ja]=外観
Name[nb]=Utseende
Name[nl]=Uiterlijk
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[sv]=Utseende
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Comment=Personalize Choqok Look and Feel
Comment[bg]=Настройки на изгледа на Choqok
Comment[da]=Tilpas Choqoks fremtoning
Comment[de]=Anpassung von Choqoks Erscheinungsbild
Comment[en_GB]=Personalise Choqok Look and Feel
Comment[es]=Personalizar el aspecto de Choqok
Comment[et]=Choqoki välimuse isikupärastamine
Comment[fi]=Personalisoi Choqok-käyttötuntuma
Comment[fr]=Personnalisez l'apparence de Choqok
Comment[gl]=Personalice a aparencia do Choqok
Comment[hr]=Konfiguriraj izgled i način rada Choqoka
Comment[it]=Personalizza l'aspetto di Choqok
Comment[ja]=Choqok の外観をカスタマイズ
Comment[nb]=Sett opp Choqoks utseende og oppførsel
Comment[nl]=Maak de look-and-feel van Choqok persoonlijk
Comment[pl]=Personalizuj wygląd Chokok
Comment[pt]=Personalizar a Aparência e Comportamento do Choqok
Comment[pt_BR]=Personalize o visual do Choqok
Comment[sv]=Anpassa Choqoks utseende och känsla
Comment[tr]=Choqok Görünümünü Kişiselleştir
Comment[uk]=Налаштувати вигляд і поведінку Choqok
Comment[x-test]=xxPersonalize Choqok Look and Feelxx
Comment[zh_CN]=个性化 Choqok 的感观


