[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1543
Icon=icon
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_tighturl
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_tighturl
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=TightUrl Shortener
Name[es]=Acortador de TightUrl
Name[fr]=Raccourcisseur TightUrl
Name[gl]=Abreviador TightUrl
Name[it]=Abbreviatore TightUrl
Name[pt]=Redutor do TightUrl
Name[pt_BR]=Redutor do TightUrl
Name[sv]=TightUrl avkortningsverktyg
Name[uk]=Скорочувач TightUrl
Name[x-test]=xxTightUrl Shortenerxx
Comment=A Plugin to shorten urls via TightUrl service
Comment[es]=Un complemento para acortar las URL por medio del servicio de TightUrl
Comment[fr]=Un module externe pour raccourcir les URL via le service TightUrl
Comment[gl]=Un engadido para abreviar URL mediante o servizo TightUrl
Comment[it]=Un'estensione per abbreviare le URL con il servizio TightUrl
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do TightUrl
Comment[pt_BR]=Um 'plugin' para reduzir os URL's, usando o serviço do TightUrl
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten TightUrl
Comment[uk]=Додаток для скорочення адрес за допомогою служб TightUrl
Comment[x-test]=xxA Plugin to shorten urls via TightUrl servicexx
