[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_tighturl
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_tighturl
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=TightUrl Shortener
Name[bg]=Съкращаване с TightUrl
Name[da]=TightUrl-forkorter
Name[de]=TightUrl
Name[en_GB]=TightUrl Shortener
Name[es]=Acortador de TightUrl
Name[et]=TightUrl'i lühendaja
Name[fr]=Raccourcisseur TightUrl
Name[gl]=Abreviador TightUrl
Name[hr]=Skratitelj TightUrla
Name[it]=Abbreviatore TightUrl
Name[ja]=TightUrl 短縮サービス
Name[nb]=TightUrl innkorter
Name[nds]=Afkörter för TightUrl
Name[nl]=TightUrl-inkortprogramma
Name[pt]=Redutor do TightUrl
Name[pt_BR]=Encolhedor TightUrl
Name[ru]=Автосокращение TightUrl
Name[sv]=TightUrl avkortningsverktyg
Name[tr]=TightUrl Kısaltıcı
Name[uk]=Скорочувач TightUrl
Name[x-test]=xxTightUrl Shortenerxx
Name[zh_CN]=TightURL 缩短器
Comment=A plugin to shorten URLs via the TightURL service.
Comment[da]=Et plugin til at forkorte URL'er via tjenesten TightUrl.
Comment[en_GB]=A plugin to shorten URLs via the TightURL service.
Comment[et]=Plugin URL-ide lühendamiseks TightURL'i teenuse abil.
Comment[fr]=Un module externe pour raccourcir les URL via le service TightUrl.
Comment[gl]=Un engadido para abreviar URL mediante o servizo TightURL.
Comment[hr]=Priključak koji skraćuje URL-ove pomoću servisa TightUrl.
Comment[it]=Un'estensione per abbreviare le URL con il servizio TightURL.
Comment[ja]=TightURL のサービスを通じて URL を短縮するためのプラグイン
Comment[nb]=Et programtillegg som korter inn URL-er via TightURL-tjenesten.
Comment[nl]=Een plugin voor het inkorten van URL's via de TightUrl-service.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do TightUrl.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço TightUrl.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten TightUrl.
Comment[tr]=TightURL kullanarak adresleri kısaltmak için bir eklenti.
Comment[uk]=Додаток для скорочення адрес за допомогою служб TightURL.
Comment[x-test]=xxA plugin to shorten URLs via the TightURL service.xx
Comment[zh_CN]=通过 TightURL 服务缩短 URL 的插件。
