[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=video-x-generic
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_videopreview
X-KDE-PluginInfo-Author=Emanuele Bigiarini
X-KDE-PluginInfo-Email=pulmro@gmail.com
X-KDE-PluginInfo-Name=choqok_videopreview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Preview videos
Name[bg]=Предварителен преглед на видеоматериали
Name[da]=Forhåndsvis videoer
Name[fr]=Aperçu des vidéos
Name[nb]=Forhåndsvis videoer
Name[pt]=Antever os vídeos
Name[pt_BR]=Visualizar vídeos
Name[sv]=Förhandsgranska videor
Name[uk]=Попередній перегляд відео
Name[x-test]=xxPreview videosxx
Comment=Load a preview of youtube, vimeo videos
Comment[bg]=Зареждане на предварителни прегледи за видеоматериали от youtube и vimeo
Comment[da]=Indlæs en forhåndsvisning af youtube- og vimeo-videoer
Comment[fr]=Charge un aperçu de Youtube, de vidéos Vvimeo
Comment[nb]=Last inn en forhåndsvisning av youtube/vimeo-videoer
Comment[pt]=Carregar uma antevisão dos vídeos do YouTube, Vimeo
Comment[pt_BR]=Carregar uma previsão dos vídeos do YouTube, Vimeo
Comment[sv]=Läs in en förhandsgranskning av videor från YouTube eller Vimeo
Comment[uk]=Завантаження мініатюр відео з youtube та vimeo
Comment[x-test]=xxLoad a preview of youtube, vimeo videosxx
