[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=video-x-generic
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_videopreview
X-KDE-PluginInfo-Author=Emanuele Bigiarini
X-KDE-PluginInfo-Email=pulmro@gmail.com
X-KDE-PluginInfo-Name=choqok_videopreview
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Preview videos
Name[bg]=Преглед на видеоматериали
Name[bs]=Pregled videa
Name[ca]=Vista prèvia de videos
Name[ca@valencia]=Vista prèvia de videos
Name[cs]=Náhled videí
Name[da]=Forhåndsvis videoer
Name[de]=Vorschau von Videos anzeigen
Name[el]=Προεπισκόπηση βίντεο
Name[en_GB]=Preview videos
Name[es]=Previsualización de vídeos
Name[et]=Videode eelvaatlus
Name[fr]=Aperçu des vidéos
Name[gl]=Vista previa dos vídeos
Name[hr]=Pretpogled na video
Name[hu]=Videók előnézete
Name[it]=Anteprima video
Name[ja]=動画のプレビュー
Name[km]=មើល​វីដេអូ​​ជាមុន​
Name[nb]=Forhåndsvis videoer
Name[nds]=Video-Vöransicht
Name[nl]=Video's vooraf tonen
Name[pa]=ਵਿਡੀਓ ਝਲਕ
Name[pl]=Podgląd wideo
Name[pt]=Antever os vídeos
Name[pt_BR]=Visualização de vídeos
Name[ru]=Предварительный просмотр видео
Name[sl]=Predogled videov
Name[sv]=Förhandsgranska videor
Name[tr]=Videoları önizle
Name[uk]=Попередній перегляд відео
Name[x-test]=xxPreview videosxx
Name[zh_CN]=预览视频
Name[zh_TW]=預覽影片
Comment=Load a preview of YouTube & Vimeo videos
Comment[bg]=Зареждане на предварителни прегледи за видеоматериали от YouTube и Vimeo
Comment[bs]=Učitavanje pregleda YouTube i Vimeo video sadržaja
Comment[ca]=Carrega una vista prèvia dels videos de YouTube i Vimeo
Comment[ca@valencia]=Carrega una vista prèvia dels videos de YouTube i Vimeo
Comment[cs]=Načíst náhled videí YouTube & Vimeo
Comment[da]=Indlæs en forhåndsvisning af YouTube- og Vimeo-videoer
Comment[de]=Vorschau für YouTube- und Vimeo-Videos laden
Comment[el]=Φόρτωση προεπισκόπησης βίντεο από YouTube & Vimeo
Comment[en_GB]=Load a preview of YouTube & Vimeo videos
Comment[es]=Cargar una vista previa de vídeos de Youtube y Vimeo
Comment[et]=YouTube'i ja Vimeo videode eelvaatluse laadimine
Comment[fr]=Charge un aperçu de vidéos « Youtube » et « Vimeo »
Comment[gl]=Cargar unha vista previa dos vídeos de YouTube e de Vimeo
Comment[hu]=Youtube- és Vimeo-videók előnézetének betöltése
Comment[it]=Carica un'anteprima dei video YouTube e Vimeo
Comment[km]=ផ្ទុក​ការ​មើល youtube ជាមុន​ និង​​វីដេអូ​របស់​ vimeo 
Comment[nb]=Last inn en forhåndsvisning av Youtube og Vimeo-videoer
Comment[nds]=Vöransichten vun YouTube- un Vimeo-Videos laden
Comment[nl]=Een voorvertoning van YouTube & Vimeo video's laden
Comment[pa]=ਯੂਟਿਊਬ ਤੇ ਵਿਮੋਓ ਵਿਡੀਓ ਦੀ ਝਲਕ ਲੋਡ ਕਰੋ
Comment[pl]=Wczytaj podglądy wideo z YouTube i Vimeo
Comment[pt]=Carregar uma antevisão dos vídeos do YouTube & Vimeo
Comment[pt_BR]=Carrega uma previsão de vídeos do YouTube e do Vimeo
Comment[ru]=Загружает миниатюры видеоклипов из YouTube и Vimeo
Comment[sl]=Naloži predogled videov Youtube & Vimeo
Comment[sv]=Läs in en förhandsgranskning av videor från YouTube och Vimeo
Comment[tr]=YouTube & Vimeo videolarının bir önizlemesini yükle
Comment[uk]=Завантаження мініатюр відео з YouTube та Vimeo
Comment[x-test]=xxLoad a preview of YouTube & Vimeo videosxx
Comment[zh_CN]=装入 YouTube 和 Vimeo 视频的预览
Comment[zh_TW]=載入 YouTube 與 Vimeo 影片的預覽
