[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_ur1_ca
X-KDE-PluginInfo-Author=Bhaskar Kandiyal
X-KDE-PluginInfo-Email=bkandiyal@gmail.com
X-KDE-PluginInfo-Name=choqok_ur1_ca
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ur1.ca
Name[da]=ur1.ca
Name[de]=ur1.ca
Name[en_GB]=ur1.ca
Name[es]=ur1.ca
Name[et]=ur1.ca
Name[ja]=ur1.ca
Name[nl]=ur1.ca
Name[pt]=ur1.ca
Name[pt_BR]=ur1.ca
Name[sv]=ur1.ca
Name[tr]=ur1.ca
Name[uk]=ur1.ca
Name[x-test]=xxur1.caxx
Comment=A plugin to shorten URLs via the ur1.ca service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата ur1.ca.
Comment[ca]=Un connector per escurçar URL a través del servei ur1.ca.
Comment[ca@valencia]=Un connector per escurçar URL a través del servei ur1.ca.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten ur1.ca.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des ur1.ca-Dienstes zu kürzen
Comment[en_GB]=A plugin to shorten URLs via the ur1.ca service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de ur1.ca
Comment[et]=Plugin URL-ide lühendamiseks ur1.ca teenuse abil.
Comment[fr]=Un module externe pour raccourcir les URL via le service ur1.ca.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio ur1.ca
Comment[ja]=ur1.ca のサービスを通じて URL を短縮するためのプラグイン。
Comment[nb]=Et programtillegg som korter inn URL-er via ur1.ca-tjenesten.
Comment[nds]=En Moduul för't Afkörten vun "ur1.ca"-Adressen
Comment[nl]=Een plugin voor het inkorten van URL's via de url.ca-service.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do ur1.ca.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço ur1.ca.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten url.ca.
Comment[uk]=Додаток для скорочення адрес за допомогою служб ur1.ca.
Comment[x-test]=xxA plugin to shorten URLs via the ur1.ca service.xx
Comment[zh_CN]=通过 ur1.ca 服务缩短 URL 的插件。
