[Desktop Entry]
#Icon=choqok
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Actions=ShareLink;ShareLinkandTitle;
X-KDE-Submenu=Choqok
X-KDE-Submenu[bg]=Choqok
X-KDE-Submenu[da]=Choqok
X-KDE-Submenu[de]=Choqok
X-KDE-Submenu[en_GB]=Choqok
X-KDE-Submenu[es]=Choqok
X-KDE-Submenu[et]=Choqok
X-KDE-Submenu[fr]=Choqok
X-KDE-Submenu[hr]=Choqok
X-KDE-Submenu[it]=Choqok
X-KDE-Submenu[km]=Choqok
X-KDE-Submenu[nb]=Choqok
X-KDE-Submenu[nl]=Choqok
X-KDE-Submenu[pa]=ਚੋਕਿਉਕ
X-KDE-Submenu[pl]=Choqok
X-KDE-Submenu[pt]=Choqok
X-KDE-Submenu[pt_BR]=Choqok
X-KDE-Submenu[sv]=Choqok
X-KDE-Submenu[tr]=Choqok
X-KDE-Submenu[uk]=Choqok
X-KDE-Submenu[x-test]=xxChoqokxx
X-KDE-Submenu[zh_TW]=Choqok
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file
X-KDE-Priority=TopLevel

[Desktop Action ShareLink]
Icon=choqok
Exec=qdbus org.kde.choqok / shareUrl %U false
Name=Share Link with Choqok
Name[da]=Del link med Choqok
Name[en_GB]=Share Link with Choqok
Name[es]=Compartir el enlace con Choqok
Name[et]=Lingi jagamine Choqokiga
Name[fr]=Partager une liaison avec Choqok
Name[it]=Condividi collegamento con Choqok
Name[nb]=Del lenke med Choqok
Name[nl]=Koppeling met Choqok delen
Name[pa]=ਚੋਕਿਉਕ ਲਿੰਕ ਸਾਂਝਾ ਕਰੋ
Name[pl]=Udostępnij odnośnik za pomocą Choqok
Name[pt]=Partilhar a Ligação com o Choqok
Name[pt_BR]=Compartilhar link com o Choqok
Name[sv]=Dela länk med Choqok
Name[uk]=Оприлюднити посилання за допомогою Choqok
Name[x-test]=xxShare Link with Choqokxx
Name[zh_TW]=用 Choqok 分享連結

[Desktop Action ShareLinkandTitle]
Icon=choqok
Exec=qdbus org.kde.choqok / shareUrl %U true
Name=Share Link with Choqok (Title)
Name[da]=Del link med Choqok (titel)
Name[en_GB]=Share Link with Choqok (Title)
Name[es]=Compartir el enlace con Choqok (Título)
Name[et]=Lingi jagamine Choqokiga (pealkiri)
Name[fr]=Partager une liaison avec Choqok (titre)
Name[it]=Condividi collegamento con Choqok (Titolo)
Name[nb]=Del lenke med Choqok (Tittel)
Name[nl]=Koppeling met Choqok delen (Titel)
Name[pl]=Udostępnij odnośnik za pomocą Choqok (Tytuł)
Name[pt]=Partilhar a Ligação com o Choqok (Título)
Name[pt_BR]=Compartilhar link com o Choqok (título)
Name[sv]=Dela länk med Choqok (rubrik)
Name[uk]=Оприлюднити посилання за допомогою Choqok (заголовок)
Name[x-test]=xxShare Link with Choqok (Title)xx
Name[zh_TW]=用 Choqok 分享連結（標題）
