[Desktop Entry]
#Icon=choqok
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Actions=ShareLink;ShareLinkandTitle;
X-KDE-Submenu=Choqok
X-KDE-Submenu[bg]=Choqok
X-KDE-Submenu[bs]=Choqok
X-KDE-Submenu[ca]=Choqok
X-KDE-Submenu[ca@valencia]=Choqok
X-KDE-Submenu[da]=Choqok
X-KDE-Submenu[de]=Choqok
X-KDE-Submenu[el]=Choqok
X-KDE-Submenu[en_GB]=Choqok
X-KDE-Submenu[es]=Choqok
X-KDE-Submenu[et]=Choqok
X-KDE-Submenu[fa]=چغک
X-KDE-Submenu[fi]=Choqok
X-KDE-Submenu[fr]=Choqok
X-KDE-Submenu[gl]=ChoqoK
X-KDE-Submenu[hr]=Choqok
X-KDE-Submenu[hu]=Choqok
X-KDE-Submenu[it]=Choqok
X-KDE-Submenu[km]=Choqok
X-KDE-Submenu[nb]=Choqok
X-KDE-Submenu[nds]=Choqok
X-KDE-Submenu[nl]=Choqok
X-KDE-Submenu[pa]=ਚੋਕਿਉਕ
X-KDE-Submenu[pl]=Choqok
X-KDE-Submenu[pt]=Choqok
X-KDE-Submenu[pt_BR]=Choqok
X-KDE-Submenu[ru]=Choqok
X-KDE-Submenu[sv]=Choqok
X-KDE-Submenu[tr]=Choqok
X-KDE-Submenu[ug]=Choqok
X-KDE-Submenu[uk]=Choqok
X-KDE-Submenu[x-test]=xxChoqokxx
X-KDE-Submenu[zh_CN]=Choqok
X-KDE-Submenu[zh_TW]=Choqok
X-KDE-ExcludeServiceTypes=kdedevice/*
X-KDE-Protocol=!file
X-KDE-Priority=TopLevel

[Desktop Action ShareLink]
Icon=choqok
Exec=qdbus org.kde.choqok / shareUrl %U false
Name=Share Link with Choqok
Name[bg]=Споделяне на препратка с Choqok
Name[bs]=Dijelite linkove Choqok-om
Name[ca]=Comparteix l'enllaç amb el Choqok
Name[ca@valencia]=Comparteix l'enllaç amb el Choqok
Name[da]=Del link med Choqok
Name[de]=Verknüpfung mit Choqok bereitstellen
Name[el]=Σύνδεσμος διαμοιρασμού με Choqok
Name[en_GB]=Share Link with Choqok
Name[es]=Compartir el enlace con Choqok
Name[et]=Lingi jagamine Choqokiga
Name[fr]=Partage d'une liaison avec Choqok
Name[gl]=Compartición de ligazóns co Choqok
Name[hu]=Hivatkozás megosztása Choqokkal
Name[it]=Condividi collegamento con Choqok
Name[km]=ចែករំលែក​តំណ​ជាមួយ​ Choqok
Name[nb]=Del lenke med Choqok
Name[nds]=Link mit Choqok delen
Name[nl]=Koppeling met Choqok delen
Name[pa]=ਚੋਕਿਉਕ ਲਿੰਕ ਸਾਂਝਾ ਕਰੋ
Name[pl]=Udostępnij odnośnik za pomocą Choqok
Name[pt]=Partilhar a Ligação com o Choqok
Name[pt_BR]=Compartilhar link com o Choqok
Name[ru]=Поделиться ссылкой с помощью Choqok
Name[sv]=Dela länk med Choqok
Name[uk]=Оприлюднити посилання за допомогою Choqok
Name[x-test]=xxShare Link with Choqokxx
Name[zh_CN]=用 Choqok 分享链接
Name[zh_TW]=用 Choqok 分享連結

[Desktop Action ShareLinkandTitle]
Icon=choqok
Exec=qdbus org.kde.choqok / shareUrl %U true
Name=Share Link with Choqok (Title)
Name[bg]=Споделяне на препратка с Choqok (заглавие)
Name[bs]=Dijelite linkove Choqok-om (Naslov)
Name[ca]=Comparteix l'enllaç amb el Choqok (títol)
Name[ca@valencia]=Comparteix l'enllaç amb el Choqok (títol)
Name[da]=Del link med Choqok (titel)
Name[de]=Verknüpfung mit Choqok bereitstellen (Titel)
Name[el]=Σύνδεσμος διαμοιρασμού με Choqok (Τίτλος)
Name[en_GB]=Share Link with Choqok (Title)
Name[es]=Compartir el enlace con Choqok (Título)
Name[et]=Lingi jagamine Choqokiga (pealkiri)
Name[fr]=Partage d'une liaison avec Choqok (titre)
Name[gl]=Compartir unha ligazón co Choqok (Título)
Name[hu]=Hivatkozás megosztása Choqokkal (cím)
Name[it]=Condividi collegamento con Choqok (Titolo)
Name[km]=ចែក​រំលែក​តំណ​ជាមួយ​​ Choqok (ចំណង​ជើង​​)
Name[nb]=Del lenke med Choqok (Tittel)
Name[nds]=Link mit Choqok delen (Titel)
Name[nl]=Koppeling met Choqok delen (Titel)
Name[pa]=ਚੋਕਿਉਕ ਨਾਲ ਲਿੰਕ ਸਾਂਝਾ ਕਰੋ (ਟਾਈਟਲ)
Name[pl]=Udostępnij odnośnik za pomocą Choqok (Tytuł)
Name[pt]=Partilhar a Ligação com o Choqok (Título)
Name[pt_BR]=Compartilhar link com o Choqok (título)
Name[ru]=Поделиться ссылкой (с названием) с помощью Choqok
Name[sv]=Dela länk med Choqok (rubrik)
Name[uk]=Оприлюднити посилання за допомогою Choqok (заголовок)
Name[x-test]=xxShare Link with Choqok (Title)xx
Name[zh_CN]=用 Choqok 分享链接(标题)
Name[zh_TW]=用 Choqok 分享連結（標題）
