[Desktop Entry]
Actions=ChoqokUploadFile;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/*
X-KDE-ExcludeServiceTypes=kdedevice/*

[Desktop Action ChoqokUploadFile]
Exec=qdbus org.kde.choqok / uploadFile %U
Icon=choqok
Name=Upload with Choqok
Name[da]=Upload med Choqok
Name[de]=Mit Choqok hochladen
Name[en_GB]=Upload with Choqok
Name[es]=Enviar con Choqok
Name[fr]=Envoyer avec Choqok
Name[nb]=Last opp med Choqok
Name[nl]=Met Choqok uploaden
Name[pl]=Wyślij za pomocą Choqok
Name[pt]=Enviar com o Choqok
Name[pt_BR]=Enviar com o Choqok
Name[sv]=Ladda upp med Choqok
Name[uk]=Вивантажити за допомогою Choqok
Name[x-test]=xxUpload with Choqokxx
