[Desktop Entry]
Actions=ChoqokUploadFile;
Type=Service
Icon=
Name=
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,image/*
X-KDE-ExcludeServiceTypes=kdedevice/*

[Desktop Action ChoqokUploadFile]
Exec=qdbus org.kde.choqok / uploadFile %U
Icon=choqok
Name=Upload with Choqok
Name[ar]=ارفع بِ‍«چغوك»
Name[bg]=Качване с Choqok
Name[bs]=Slanje datoteke Choqok-om
Name[ca]=Puja amb el Choqok
Name[ca@valencia]=Puja amb el Choqok
Name[cs]=Odeslat pomocí Choqok
Name[da]=Upload med Choqok
Name[de]=Mit Choqok hochladen
Name[el]=Αποστολή με Choqok
Name[en_GB]=Upload with Choqok
Name[es]=Enviar con Choqok
Name[et]=Üleslaadimine Choqokiga
Name[fi]=Lähetä Choqokilla
Name[fr]=Envoi avec Choqok
Name[gl]=Envío co Choqok
Name[hu]=Feltöltés Choqokkal
Name[it]=Carica con Choqok
Name[km]=ផ្ទុក​ឡើង​ជាមួយ​​ Choqok
Name[nb]=Last opp med Choqok
Name[nds]=Mit Choqok hoochladen
Name[nl]=Met Choqok uploaden
Name[pa]=ਚੋਕਿਉਕ ਨਾਲ ਅੱਪਲੋਡ
Name[pl]=Wyślij za pomocą Choqok
Name[pt]=Enviar com o Choqok
Name[pt_BR]=Enviar com o Choqok
Name[ru]=Загрузить файл с помощью Choqok
Name[sl]=Pošlji s Choqok-om
Name[sv]=Ladda upp med Choqok
Name[tr]=Choqok ile Yükle
Name[uk]=Вивантажити за допомогою Choqok
Name[x-test]=xxUpload with Choqokxx
Name[zh_CN]=用 Choqok 上传
Name[zh_TW]=用 Choqok 上傳
