[Desktop Entry]
Icon=choqok
X-KDE-Library=libkonqchoqokplugin
X-KDE-PluginInfo-Author=Emanuele Bigiarini
X-KDE-PluginInfo-Email=pulmro@gmail.com
X-KDE-PluginInfo-Name=konqchoqokplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Konqueror Choqok Plugin
Name[x-test]=xxKonqueror Choqok Pluginxx
Comment=Post to Choqok selected text in Konqueror and other features
Comment[x-test]=xxPost to Choqok selected text in Konqueror and other featuresxx
