[Desktop Entry]
Icon=choqok
X-KDE-Library=libkonqchoqokplugin
X-KDE-PluginInfo-Author=Emanuele Bigiarini
X-KDE-PluginInfo-Email=pulmro@gmail.com
X-KDE-PluginInfo-Name=konqchoqokplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Konqueror Choqok Plugin
Name[en_GB]=Konqueror Choqok Plugin
Name[es]=Complemento de Choqok para Konqueror
Name[pt]='Plugin' do Choqok para o Konqueror
Name[pt_BR]=Plug-in Choqok do Konqueror
Name[tr]=Konqueror Choqok Eklentisi
Name[uk]=Додаток Choqok до Konqueror
Name[x-test]=xxKonqueror Choqok Pluginxx
Comment=Post to Choqok selected text in Konqueror and other features
Comment[en_GB]=Post to Choqok selected text in Konqueror and other features
Comment[es]=Publicar con Choqok el texto seleccionado en Konqueror y otras funciones
Comment[pt]=Publicar no Chokoq o texto seleccionado no Konqueror, entre outras funcionalidades
Comment[pt_BR]=Publicar no Choqok o texto selecionado no Konqueror e outros recursos
Comment[uk]=Передавання до Choqok позначеного фрагмента тексту у Konqueror та інші можливості
Comment[x-test]=xxPost to Choqok selected text in Konqueror and other featuresxx
