[Desktop Entry]
Type=Service
Icon=choqok
X-KDE-Library=libkonqchoqokplugin
X-KDE-PluginInfo-Author=Emanuele Bigiarini
X-KDE-PluginInfo-Email=pulmro@gmail.com
X-KDE-PluginInfo-Name=konqchoqokplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Konqueror Choqok Plugin
Name[bg]=Приставка на Choqok за Konqueror
Name[da]=Choqok-plugin til Konqueror
Name[de]=Choqok-Modul für Konqueror
Name[en_GB]=Konqueror Choqok Plugin
Name[es]=Complemento de Choqok para Konqueror
Name[et]=Konquerori Choqoki plugin
Name[fr]=Module externe Choqok pour Konqueror
Name[hr]=Priključak za Choqok u Konqueroru
Name[nb]=Konqueror-programtillegg for Choqok
Name[nl]=Choqok-plugin voor Konqueror
Name[pl]=Wtyczka Choqok dla konqueror
Name[pt]='Plugin' do Choqok para o Konqueror
Name[pt_BR]=Plug-in Choqok do Konqueror
Name[sv]=Choqok-insticksprogram för Konqueror
Name[tr]=Konqueror Choqok Eklentisi
Name[uk]=Додаток Choqok до Konqueror
Name[x-test]=xxKonqueror Choqok Pluginxx
Comment=Post to Choqok the selected text in Konqueror, and other features
Comment[nl]=Post geselecteerde tekst in Konqueror naar Choqok en overige mogelijkheden
Comment[pt]=Publicar no Chokoq o texto seleccionado no Konqueror, entre outras funcionalidades
Comment[sv]=Skicka markerad text i Konqueror till Choqok, och andra funktioner
Comment[uk]=Передавання до Choqok позначеного фрагмента тексту у Konqueror та інші можливості
Comment[x-test]=xxPost to Choqok the selected text in Konqueror, and other featuresxx
