[Desktop Entry]
Icon=kaboodle
Type=Service
ServiceTypes=Choqok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_betternotify
X-KDE-FactoryName=kcm_choqok_betternotify
X-KDE-ParentApp=choqok_betternotify
X-KDE-ParentComponents=choqok_betternotify

Name=Better Notify
Name[da]=Bedre bekendtgørelse
Name[el]=Βελτιωμένη ειδοποίηση
Name[nb]=Best å varsle
Name[nl]=Beter melden
Name[pt]=Notificar as Melhores
Name[pt_BR]=Notificar as melhores
Name[sv]=Bör underrätta
Name[uk]=Кращі сповіщення
Name[x-test]=xxBetter Notifyxx
Name[zh_TW]=較佳的通知
Comment=Notify Important Posts
Comment[da]=Bekendtgør om vigtige indlæg
Comment[el]=Ειδοποίηση για σημαντικές αναρτήσεις
Comment[nb]=Varsle om viktige poster
Comment[nl]=Belangrijke geposte berichten melden
Comment[pt]=Notificar as Publicações Importantes
Comment[pt_BR]=Avisa ao receber mensagens importantes
Comment[sv]=Underrätta om viktiga inlägg
Comment[uk]=Сповіщення щодо важливих дописів
Comment[x-test]=xxNotify Important Postsxx
Comment[zh_TW]=通知重要的文章
