[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=dialog-information
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_betternotify
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_betternotify
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Better Notify
Name[da]=Bedre bekendtgørelse
Name[el]=Βελτιωμένη ειδοποίηση
Name[nb]=Best å varsle
Name[nl]=Beter melden
Name[pt]=Notificar as Melhores
Name[pt_BR]=Notificar as melhores
Name[sv]=Bör underrätta
Name[uk]=Кращі сповіщення
Name[x-test]=xxBetter Notifyxx
Name[zh_TW]=較佳的通知
Comment=Notify Important Posts
Comment[da]=Bekendtgør om vigtige indlæg
Comment[el]=Ειδοποίηση για σημαντικές αναρτήσεις
Comment[nb]=Varsle om viktige poster
Comment[nl]=Belangrijke geposte berichten melden
Comment[pt]=Notificar as Publicações Importantes
Comment[pt_BR]=Notificar as mensagens importantes
Comment[sv]=Underrätta om viktiga inlägg
Comment[uk]=Сповіщення щодо важливих дописів
Comment[x-test]=xxNotify Important Postsxx
Comment[zh_TW]=通知重要的文章
