[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=dialog-information
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_betternotify
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_betternotify
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Better Notify
Comment=Notify Important Posts