[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_yourls
X-KDE-FactoryName=kcm_choqok_yourls
X-KDE-ParentApp=choqok_yourls
X-KDE-ParentComponents=choqok_yourls

Name=Yourls
Name[bg]=Yourls
Name[da]=Yourls
Name[de]=Yourls
Name[es]=Yourls
Name[et]=Yourls
Name[it]=Yourls
Name[nb]=Yourls
Name[pt]=Yourls
Name[pt_BR]=Yourls
Name[sv]=Yourls
Name[uk]=Yourls
Name[x-test]=xxYourlsxx
Name[zh_CN]=Yourls
Comment=Yourls
Comment[bg]=Yourls
Comment[da]=Yourls
Comment[de]=Yourls
Comment[es]=Yourls
Comment[et]=Yourls
Comment[it]=Yourls
Comment[nb]=Yourls
Comment[pt]=Yourls
Comment[pt_BR]=Yourls
Comment[sv]=Yourls
Comment[uk]=Yourls
Comment[x-test]=xxYourlsxx
Comment[zh_CN]=Yourls
