[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_yourls
X-KDE-FactoryName=kcm_choqok_yourls
X-KDE-ParentApp=choqok_yourls
X-KDE-ParentComponents=choqok_yourls

Name=Yourls
Name[bg]=Yourls
Name[ca]=Yourls
Name[ca@valencia]=Yourls
Name[da]=Yourls
Name[de]=Yourls
Name[el]=Yourls
Name[en_GB]=Yourls
Name[es]=Yourls
Name[et]=Yourls
Name[fr]=Yourls
Name[gl]=Yourls
Name[hr]=Yourls
Name[hu]=Yourls
Name[it]=Yourls
Name[ja]=Yourls
Name[km]=Yourls
Name[nb]=Yourls
Name[nds]=Yourls
Name[nl]=Yourls
Name[pa]=Yourls
Name[pl]=Yourls
Name[pt]=Yourls
Name[pt_BR]=Yourls
Name[ru]=Yourls
Name[sv]=Yourls
Name[tr]=Yourls
Name[uk]=Yourls
Name[x-test]=xxYourlsxx
Name[zh_CN]=Yourls
Name[zh_TW]=Yourls
Comment=Yourls
Comment[bg]=Yourls
Comment[ca]=Yourls
Comment[ca@valencia]=Yourls
Comment[da]=Yourls
Comment[de]=Yourls
Comment[el]=Yourls
Comment[en_GB]=Yourls
Comment[es]=Yourls
Comment[et]=Yourls
Comment[fr]=Yourls
Comment[gl]=Yourls
Comment[hr]=Yourls
Comment[hu]=Yourls
Comment[it]=Yourls
Comment[ja]=Yourls
Comment[km]=Yourls
Comment[nb]=Yourls
Comment[nds]=Yourls
Comment[nl]=Yourls
Comment[pa]=Yourls
Comment[pl]=Yourls
Comment[pt]=Yourls
Comment[pt_BR]=Yourls
Comment[ru]=Yourls
Comment[sv]=Yourls
Comment[tr]=Yourls
Comment[uk]=Yourls
Comment[x-test]=xxYourlsxx
Comment[zh_CN]=Yourls
Comment[zh_TW]=Yourls
