[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_yourls
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_yourls
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Yourls Shortener
Name[da]=Yourls-afkorter
Name[pt]=Redutor do Yourls
Name[pt_BR]=Encolhedor Yourls
Name[sv]=Yourls avkortningsverktyg
Name[uk]=Скорочувач Yourls
Name[x-test]=xxYourls Shortenerxx
Comment=A plugin to shorten URLs via the Yourls service.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten Yourls.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do Yourls.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço Yourls.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten Yourls.
Comment[uk]=Додаток для скорочення адрес за допомогою служби Yourls.
Comment[x-test]=xxA plugin to shorten URLs via the Yourls service.xx
