[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=friendica_microblog
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_friendica
X-KDE-PluginInfo-Author=Andrea Scarpino
X-KDE-PluginInfo-Email=scarpino@kde.org
X-KDE-PluginInfo-Name=choqok_friendica
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=https://choqok.kde.org
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Friendica
Name[ar]=فرندِكا
Name[ca]=Friendica
Name[ca@valencia]=Friendica
Name[da]=Friendica
Name[de]=Friendica
Name[el]=Friendica
Name[en_GB]=Friendica
Name[es]=Friendica
Name[et]=Friendica
Name[eu]=Friendica
Name[fi]=Friendica
Name[fr]=Friendica
Name[gl]=Friendica
Name[it]=Friendica
Name[ko]=Friendica
Name[nl]=Friendica
Name[nn]=Friendica
Name[pl]=Friendica
Name[pt]=Friendica
Name[pt_BR]=Friendica
Name[sl]=Friendica
Name[sv]=Friendica
Name[tr]=Friendica
Name[uk]=Friendica
Name[zh_CN]=Friendica
Name[zh_TW]=Friendica
Comment=Friendica
Comment[ar]=فرندِكا
Comment[ca]=Friendica
Comment[ca@valencia]=Friendica
Comment[da]=Friendica
Comment[de]=Friendica
Comment[el]=Friendica
Comment[en_GB]=Friendica
Comment[es]=Friendica
Comment[et]=Friendica
Comment[eu]=Friendica
Comment[fi]=Friendica
Comment[fr]=Friendica
Comment[gl]=Friendica
Comment[it]=Friendica
Comment[ko]=Friendica
Comment[nl]=Friendica
Comment[nn]=Friendica
Comment[pl]=Friendica
Comment[pt]=Friendica
Comment[pt_BR]=Friendica
Comment[sl]=Friendica
Comment[sv]=Friendica
Comment[tr]=Friendica
Comment[uk]=Friendica
Comment[zh_CN]=Friendica
Comment[zh_TW]=Friendica
