[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=imageshack_uploader
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_imageshack
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_imageshack
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Uploaders
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ImageShack
Name[bg]=ImageShack
Name[bs]=ImageShack
Name[ca]=ImageShack
Name[ca@valencia]=ImageShack
Name[cs]=ImageShack
Name[da]=ImageShack
Name[de]=ImageShack
Name[el]=ImageShack
Name[en_GB]=ImageShack
Name[es]=ImageShack
Name[et]=ImageShack
Name[fi]=ImageShack
Name[fr]=ImageShack
Name[gl]=ImageShack
Name[hr]=ImageShack
Name[hu]=ImageShack
Name[it]=ImageShack
Name[km]=ImageShack
Name[nb]=ImageShack
Name[nds]=ImageShack
Name[nl]=ImageShack
Name[pa]=ImageShack
Name[pl]=ImageShack
Name[pt]=ImageShack
Name[pt_BR]=ImageShack
Name[ru]=ImageShack
Name[sl]=ImageShack
Name[sv]=ImageShack
Name[tr]=ImageShack
Name[uk]=ImageShack
Name[x-test]=xxImageShackxx
Name[zh_CN]=ImageShack
Name[zh_TW]=ImageShack
Comment=Upload image to imageshack.us
Comment[bg]=Качване на изображение в imageshack.us
Comment[bs]=Slanje slike na imageshack.us
Comment[ca]=Puja imatges a imageshack.us
Comment[ca@valencia]=Puja imatges a imageshack.vos
Comment[cs]=Nahrát obrázek na imageshack.us
Comment[da]=Upload billede til imageshack.us
Comment[de]=Bild auf imageshack.us hochladen
Comment[el]=Αποστολή φωτογραφίας στο imageshack.us
Comment[en_GB]=Upload image to imageshack.us
Comment[es]=Enviar imagen a imageshack.us
Comment[et]=Piltide üleslaadimine imageshack.us-i
Comment[fi]=Lähetä kuva imageshack.us-sivustolle
Comment[fr]=Envoie une image vers « imageshack.us »
Comment[gl]=Enviar imaxes a imageshack.us
Comment[hr]=Postavi sliku na imageshack.us
Comment[hu]=Képfeltöltés az imageshack.us-re
Comment[it]=Carica immagine su imageshack.us
Comment[km]=ផ្ទុក​រូបភាព​ទៅកាន់​​ imageshack.us
Comment[nb]=Last opp bilde til imageshack.us
Comment[nds]=Bild na "imageshack.us" hoochladen
Comment[nl]=Afbeelding uploaden naar imageshack.us
Comment[pl]=Wyślij obraz na imageshack.us
Comment[pt]=Enviar a imagem para o imageshack.us
Comment[pt_BR]=Envia imagens para o imageshack.us
Comment[ru]=Загрузка изображений на imageshack.us
Comment[sl]=Pošlji sliko na imageshack.us
Comment[sv]=Ladda upp bild till imageshack.us
Comment[tr]=Resmi imageshack.us'a yükle
Comment[uk]=Вивантаження зображення на imageshack.us
Comment[x-test]=xxUpload image to imageshack.usxx
Comment[zh_CN]=上传图像到 imageshack.us
Comment[zh_TW]=上傳影像到 imageshack.us
