[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=imageshack_uploader
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_imageshack
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_imageshack
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Uploaders
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ImageShack
Name[da]=ImageShack
Name[de]=ImageShack
Name[es]=ImageShack
Name[et]=ImageShack
Name[nl]=ImageShack
Name[pa]=ImageShack
Name[pt]=ImageShack
Name[pt_BR]=ImageShack
Name[sv]=ImageShack
Name[uk]=ImageShack
Name[x-test]=xxImageShackxx
Comment=Upload image to imageshack.us
Comment[da]=Upload billede til imageshack.us
Comment[de]=Bild auf imageshack.us hochladen
Comment[es]=Enviar imagen a imageshack.us
Comment[et]=Piltide üleslaadimine imageshack.us-i
Comment[nl]=Afbeelding uploaden naar imageshack.us
Comment[pt]=Enviar a imagem para o imageshack.us
Comment[pt_BR]=Enviar imagem para o imageshack.us
Comment[sv]=Ladda upp bild till imageshack.us
Comment[uk]=Вивантаження зображення на imageshack.us
Comment[x-test]=xxUpload image to imageshack.usxx
