[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_ur_ly
X-KDE-PluginInfo-Author=Scott Banwart
X-KDE-PluginInfo-Email=sbanwart@rogue-technology.com
X-KDE-PluginInfo-Name=choqok_ur_ly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ur.ly Shortener
Name[da]=ur.ly-afkorter
Name[es]=Acortador de ur.ly
Name[fr]=Raccourcisseur pour ur.ly
Name[pt]=Redutor do ur.ly
Name[pt_BR]=Encolhedor ur.ly
Name[sv]=url.ly avkortningsverktyg
Name[uk]=Скорочувач ur.ly
Name[x-test]=xxur.ly Shortenerxx
Comment=A plugin to shorten URLs via the ur.ly service.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten ur.ly.
Comment[es]=Un complemento para acortar los URL por medio del servicio de ur.ly.
Comment[fr]=Un module externe pour raccourcir les URL via le service ur.ly.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do ur.ly.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço ur.ly.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten url.ly.
Comment[uk]=Додаток для скорочення адрес за допомогою служб ur.ly.
Comment[x-test]=xxA plugin to shorten URLs via the ur.ly service.xx
