[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_ur_ly
X-KDE-PluginInfo-Author=Scott Banwart
X-KDE-PluginInfo-Email=sbanwart@rogue-technology.com
X-KDE-PluginInfo-Name=choqok_ur_ly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=ur.ly
Name[bg]=ur.ly
Name[da]=ur.ly
Name[de]=ur.ly
Name[en_GB]=ur.ly
Name[es]=ur.ly
Name[et]=ur.ly
Name[fr]=ur.ly
Name[hr]=ur.ly
Name[hu]=ur.ly
Name[it]=ur.ly
Name[ja]=ur.ly
Name[km]=ur.ly
Name[nb]=ur.ly
Name[nds]=ur.ly
Name[nl]=ur.ly
Name[pa]=ur.ly
Name[pl]=ur.ly
Name[pt]=ur.ly
Name[pt_BR]=ur.ly
Name[ru]=ur.ly
Name[sv]=ur.ly
Name[tr]=ur.ly
Name[uk]=ur.ly
Name[x-test]=xxur.lyxx
Name[zh_TW]=ur.ly
Comment=A plugin to shorten URLs via the ur.ly service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата ur.ly.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten ur.ly.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des ur.ly-Dienstes zu kürzen
Comment[en_GB]=A plugin to shorten URLs via the ur.ly service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de ur.ly.
Comment[et]=Plugin URL-ide lühendamiseks ur.ly teenuse abil.
Comment[fr]=Un module externe pour raccourcir les URL via le service ur.ly.
Comment[hu]=Bővítmény hivatkozások rövidítéséhez az ur.ly szolgáltatással.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio ur.ly.
Comment[ja]=ur.ly のサービスを通じて URL を短縮するためのプラグイン。
Comment[km]=កម្ម​វិធី​ជំនួយ​​ដែល​ត្រូវ​កាត់​ URLs ឲ្យ​ខ្លី​តាម​រយៈ​សេវា​របស់​​ ur.ly ។
Comment[nb]=Et programtillegg som korter inn URL-er via ur.ly-tjenesten.
Comment[nds]=En Moduul för't Kortmaken vun Adressen mit "ur.ly".
Comment[nl]=Een plugin voor het inkorten van URL's via de ur.ly-service.
Comment[pl]=Wtyczka do skracania adresów URL przy pomocy serwisu ur.ly .
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do ur.ly.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço ur.ly.
Comment[ru]=Модуль для сокращения ссылок с помощью службы ur.ly.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten url.ly.
Comment[uk]=Додаток для скорочення адрес за допомогою служб ur.ly.
Comment[x-test]=xxA plugin to shorten URLs via the ur.ly service.xx
Comment[zh_CN]=通过 ur.ly 服务缩短 URL 的插件。
Comment[zh_TW]=用 ur.ly 縮短網址用的外掛程式
