[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_bit_ly
X-KDE-FactoryName=kcm_choqok_bit_ly
X-KDE-ParentApp=choqok_bit_ly
X-KDE-ParentComponents=choqok_bit_ly

Name=bit.ly
Name[x-test]=xxbit.lyxx
Comment=bit.ly
Comment[x-test]=xxbit.lyxx
