[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_bit_ly
X-KDE-FactoryName=kcm_choqok_bit_ly
X-KDE-ParentApp=choqok_bit_ly
X-KDE-ParentComponents=choqok_bit_ly

Name=bit.ly
Name[bg]=bit.ly
Name[bs]=bit.ly
Name[ca]=bit.ly
Name[ca@valencia]=bit.ly
Name[cs]=bit.ly
Name[da]=bit.ly
Name[de]=bit.ly
Name[el]=bit.ly
Name[en_GB]=bit.ly
Name[es]=bit.ly
Name[et]=bit.ly
Name[fr]=bit.ly
Name[gl]=bit.ly
Name[hr]=bit.ly
Name[hu]=bit.ly
Name[it]=bit.ly
Name[km]=bit.ly
Name[nb]=bit.ly
Name[nds]=bit.ly
Name[nl]=bit.ly
Name[pa]=bit.ly
Name[pl]=bit.ly
Name[pt]=bit.ly
Name[pt_BR]=bit.ly
Name[ru]=bit.ly
Name[sk]=bit.ly
Name[sl]=bit.ly
Name[sv]=bit.ly
Name[tr]=bit.ly
Name[ug]=bit.ly
Name[uk]=bit.ly
Name[x-test]=xxbit.lyxx
Name[zh_CN]=bit.ly
Name[zh_TW]=bit.ly
Comment=bit.ly
Comment[bg]=bit.ly
Comment[bs]=bit.ly
Comment[ca]=bit.ly
Comment[ca@valencia]=bit.ly
Comment[cs]=bit.ly
Comment[da]=bit.ly
Comment[de]=bit.ly
Comment[el]=bit.ly
Comment[en_GB]=bit.ly
Comment[es]=bit.ly
Comment[et]=bit.ly
Comment[fr]=bit.ly
Comment[gl]=bit.ly
Comment[hr]=bit.ly
Comment[hu]=bit.ly
Comment[it]=bit.ly
Comment[km]=bit.ly
Comment[nb]=bit.ly
Comment[nds]=bit.ly
Comment[nl]=bit.ly
Comment[pa]=bit.ly
Comment[pl]=bit.ly
Comment[pt]=bit.ly
Comment[pt_BR]=bit.ly
Comment[ru]=bit.ly
Comment[sk]=bit.ly
Comment[sl]=bit.ly
Comment[sv]=bit.ly
Comment[tr]=bit.ly
Comment[ug]=bit.ly
Comment[uk]=bit.ly
Comment[x-test]=xxbit.lyxx
Comment[zh_CN]=bit.ly
Comment[zh_TW]=bit.ly
