[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_twitpic
X-KDE-FactoryName=kcm_choqok_twitpic
X-KDE-ParentApp=choqok_twitpic
X-KDE-ParentComponents=choqok_twitpic

Name=Twitpic
Name[en_GB]=Twitpic
Name[pt]=Twitpic
Name[pt_BR]=Twitpic
Name[sv]=Twitpic
Name[uk]=Twitpic
Name[x-test]=xxTwitpicxx
Comment=Upload image to twitpic.com
Comment[en_GB]=Upload image to twitpic.com
Comment[pt]=Enviar a imagem para o twitpic.com
Comment[pt_BR]=Enviar imagem para o twitpic.com
Comment[sv]=Ladda upp bild till twitpic.com
Comment[uk]=Вивантаження зображення на twitpic.com
Comment[x-test]=xxUpload image to twitpic.comxx
