[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_mobypicture
X-KDE-FactoryName=kcm_choqok_mobypicture
X-KDE-ParentApp=choqok_mobypicture
X-KDE-ParentComponents=choqok_mobypicture

Name=Mobypicture
Name[bg]=Mobypicture
Name[bs]=Mobypicture
Name[ca]=Mobypicture
Name[ca@valencia]=Mobypicture
Name[cs]=Mobypicture
Name[da]=Mobypicture
Name[de]=Mobypicture
Name[el]=Mobypicture
Name[en_GB]=Mobypicture
Name[es]=Mobypicture
Name[et]=Mobypicture
Name[fi]=Mobypicture
Name[fr]=Mobypicture
Name[gl]=Mobypicture
Name[hr]=Mobypicture
Name[hu]=Mobypicture
Name[it]=Mobypicture
Name[km]=Mobypicture
Name[nb]=Mobypicture
Name[nds]=Mobypicture
Name[nl]=Mobypicture
Name[pa]=Mobypicture
Name[pl]=Mobypicture
Name[pt]=Mobypicture
Name[pt_BR]=Mobypicture
Name[ru]=Mobypicture
Name[sl]=Mobypicture
Name[sv]=Mobypicture
Name[tr]=Mobypicture
Name[uk]=Mobypicture
Name[x-test]=xxMobypicturexx
Name[zh_CN]=Mobypicture
Name[zh_TW]=Mobypicture
Comment=Upload image to mobypicture.com
Comment[bg]=Качване на изображение в mobypicture.com
Comment[bs]=Slanje slike na  mobypicture.com
Comment[ca]=Puja imatges a mobypicture.com
Comment[ca@valencia]=Puja imatges a mobypicture.com
Comment[cs]=Nahrát obrázek na mobypicture.com
Comment[da]=Upload billede til mobypicture.com
Comment[de]=Bild auf mobypicture.com hochladen
Comment[el]=Αποστολή φωτογραφίας στο mobypicture.com
Comment[en_GB]=Upload image to mobypicture.com
Comment[es]=Enviar imagen a mobypicture.com
Comment[et]=Piltide üleslaadimine mobypicture.com-i
Comment[fi]=Lähetä kuva mobypicture.com-sivustolle
Comment[fr]=Envoie une image vers « mobypicture.com »
Comment[gl]=Enviar imaxes a mobypicture.com
Comment[hr]=Postavi sliku na mobypicture.com
Comment[hu]=Képfeltöltés a mobypicture.com-ra
Comment[it]=Carica immagine su mobypicture.com
Comment[km]=ផ្ទុក​រូបភាព​ទៅកាន់​​ mobypicture.com
Comment[nb]=Last opp bilde til mobypicture.com
Comment[nds]=Bild na "mobypicture.com" hoochladen
Comment[nl]=Afbeelding uploaden naar mobypicture.com
Comment[pa]=ਚਿੱਤਰ  mobypicture.com ਉੱਤੇ ਅੱਪਲੋਡ ਕਰੋ
Comment[pl]=Wyślij obraz na mobypicture.com
Comment[pt]=Enviar a imagem para o mobypicture.com
Comment[pt_BR]=Envia imagens para o mobypicture.com
Comment[ru]=Загрузка изображений на mobypicture.com
Comment[sl]=Pošlji sliko na mobypicture.com
Comment[sv]=Ladda upp bild till mobypicture.com
Comment[tr]=Resmi mobypicture.com'a yükle
Comment[uk]=Вивантаження зображення на mobypicture.com
Comment[x-test]=xxUpload image to mobypicture.comxx
Comment[zh_CN]=上传图像到 mobypicture.com
Comment[zh_TW]=上傳影像到 mobypicture.com
