[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_mobypicture
X-KDE-FactoryName=kcm_choqok_mobypicture
X-KDE-ParentApp=choqok_mobypicture
X-KDE-ParentComponents=choqok_mobypicture

Name=Mobypicture
Comment=Upload image to mobypicture.com
