[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_mobypicture
X-KDE-FactoryName=kcm_choqok_mobypicture
X-KDE-ParentApp=choqok_mobypicture
X-KDE-ParentComponents=choqok_mobypicture

Name=Mobypicture
Name[da]=Mobypicture
Name[en_GB]=Mobypicture
Name[et]=Mobypicture
Name[fr]=Mobypicture
Name[it]=Mobypicture
Name[nl]=Mobypicture
Name[pt]=Mobypicture
Name[pt_BR]=Mobypicture
Name[sv]=Mobypicture
Name[uk]=Mobypicture
Name[x-test]=xxMobypicturexx
Name[zh_TW]=Mobypicture
Comment=Upload image to mobypicture.com
Comment[da]=Upload billede til mobypicture.com
Comment[en_GB]=Upload image to mobypicture.com
Comment[et]=Piltide üleslaadimine mobypicture.com-i
Comment[fr]=Envoyer une image à mobypicture.com
Comment[it]=Carica immagine su mobypicture.com
Comment[nl]=Afbeelding uploaden naar mobypicture.com
Comment[pt]=Enviar a imagem para o mobypicture.com
Comment[pt_BR]=Enviar imagem para o mobypicture.com
Comment[sv]=Ladda upp bild till mobypicture.com
Comment[uk]=Вивантаження зображення на mobypicture.com
Comment[x-test]=xxUpload image to mobypicture.comxx
Comment[zh_TW]=上傳影像到 mobypicture.com
