[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_tinyarro_ws
X-KDE-FactoryName=kcm_choqok_tinyarro_ws
X-KDE-ParentApp=choqok_tinyarro_ws
X-KDE-ParentComponents=choqok_tinyarro_ws

Name=tinyarro.ws
Name[ar]=tinyarro.ws
Name[bg]=tinyarro.ws
Name[bs]=tinyarro.ws
Name[ca]=tinyarro.ws
Name[ca@valencia]=tinyarro.ws
Name[cs]=tinyarrow.ws
Name[da]=tinyarro.ws
Name[de]=tinyarro.ws
Name[el]=tinyarro.ws
Name[en_GB]=tinyarro.ws
Name[es]=tinyarro.ws
Name[et]=tinyarro.ws
Name[eu]=tinyarro.ws
Name[fi]=tinyarro.ws
Name[fr]=tinyarro.ws
Name[gl]=tinyarro.ws
Name[hr]=tinyarro.ws
Name[hu]=tinyarro.ws
Name[it]=tinyarro.ws
Name[km]=tinyarro.ws
Name[ko]=tinyarro.ws
Name[nb]=tinyarro.ws
Name[nds]=tinyarro.ws
Name[nl]=tinyarro.ws
Name[pa]=tinyarro.ws
Name[pl]=tinyarro.ws
Name[pt]=tinyarro.ws
Name[pt_BR]=tinyarro.ws
Name[ru]=tinyarro.ws
Name[sk]=tinyarro.ws
Name[sl]=tinyarro.ws
Name[sv]=tinyarro.ws
Name[tr]=tinyarro.ws
Name[ug]=tinyarro.ws
Name[uk]=tinyarro.ws
Name[zh_CN]=tinyarro.ws
Name[zh_TW]=tinyarro.ws
Comment=tinyarro.ws
Comment[ar]=tinyarro.ws
Comment[bg]=tinyarro.ws
Comment[bs]=tinyarro.ws
Comment[ca]=tinyarro.ws
Comment[ca@valencia]=tinyarro.ws
Comment[cs]=tinyarro.ws
Comment[da]=tinyarro.ws
Comment[de]=tinyarro.ws
Comment[el]=tinyarro.ws
Comment[en_GB]=tinyarro.ws
Comment[es]=tinyarro.ws
Comment[et]=tinyarro.ws
Comment[eu]=tinyarro.ws
Comment[fi]=tinyarro.ws
Comment[fr]=tinyarro.ws
Comment[gl]=tinyarro.ws
Comment[hr]=tinyarro.ws
Comment[hu]=tinyarro.ws
Comment[it]=tinyarro.ws
Comment[km]=tinyarro.ws
Comment[ko]=tinyarro.ws
Comment[nb]=tinyarro.ws
Comment[nds]=tinyarro.ws
Comment[nl]=tinyarro.ws
Comment[pa]=tinyarro.ws
Comment[pl]=tinyarro.ws
Comment[pt]=tinyarro.ws
Comment[pt_BR]=tinyarro.ws
Comment[ru]=tinyarro.ws
Comment[sk]=tinyarro.ws
Comment[sl]=tinyarro.ws
Comment[sv]=tinyarro.ws
Comment[tr]=tinyarro.ws
Comment[ug]=tinyarro.ws
Comment[uk]=tinyarro.ws
Comment[zh_CN]=tinyarro.ws
Comment[zh_TW]=tinyarro.ws
