[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_tinyarro_ws
X-KDE-FactoryName=kcm_choqok_tinyarro_ws
X-KDE-ParentApp=choqok_tinyarro_ws
X-KDE-ParentComponents=choqok_tinyarro_ws

Name=tinyarro.ws
Name[x-test]=xxtinyarro.wsxx
Comment=tinyarro.ws
Comment[x-test]=xxtinyarro.wsxx
