[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/MicroBlog
X-KDE-Derived=Choqok/Plugin
Comment=Choqok MicroBlog Plugin
Comment[ru]=Микроблог
Comment[sv]=Insticksprogram för Choqok med mikrowebbjournal
Comment[uk]=Додаток мікроблогів до Choqok
