[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/MicroBlog
X-KDE-Derived=Choqok/Plugin
Comment=Choqok MicroBlog Plugin
Comment[bg]=Приставка на Choqok за микроблог
Comment[da]=Choqok mikroblog-plugin
Comment[es]=Complemento de microblogging Choqok
Comment[fr]=Module externe de microblogage pour Choqok
Comment[gl]=Engadido de microblogues de ChoqoK
Comment[it]=Estensione MicroBlog di Choqok
Comment[nds]=Lüttdaagbookmoduul för Choqok
Comment[pt]='Plugin' de Micro-Blog do Choqok
Comment[pt_BR]=Plug-in de MicroBlog do Choqok
Comment[ru]=Микроблог
Comment[sv]=Insticksprogram för Choqok med mikrowebbjournal
Comment[tr]=Choqok Mini Günlük Eklentisi
Comment[uk]=Додаток мікроблогів до Choqok
Comment[x-test]=xxChoqok MicroBlog Pluginxx
