[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/MicroBlog
X-KDE-Derived=Choqok/Plugin
Comment=Choqok MicroBlog Plugin
Comment[bg]=Приставка на Choqok за микроблог
Comment[da]=Choqok mikroblog-plugin
Comment[de]=Choqok MicroBlog-Modul
Comment[en_GB]=Choqok MicroBlog Plugin
Comment[es]=Complemento de microblogging Choqok
Comment[et]=Choqoki mikroblogimise plugin
Comment[fr]=Module externe de microblogage pour Choqok
Comment[gl]=Engadido de microblogues de ChoqoK
Comment[hr]=Priključak Choqoka za mikroblog
Comment[it]=Estensione MicroBlog di Choqok
Comment[ja]=Choqok マイクロブログプラグイン
Comment[nb]=Choqok programtillegg for mikroblogging
Comment[nds]=Lüttdaagbookmoduul för Choqok
Comment[nl]=Choqok MicroBlog Plugin
Comment[pt]='Plugin' de Micro-Blog do Choqok
Comment[pt_BR]=Plug-in de MicroBlog do Choqok
Comment[ru]=Микроблог
Comment[sv]=Insticksprogram för Choqok med mikrowebbjournal
Comment[tr]=Choqok Mini Günlük Eklentisi
Comment[uk]=Додаток мікроблогів до Choqok
Comment[x-test]=xxChoqok MicroBlog Pluginxx
Comment[zh_CN]=Choqok 微博客插件
