[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/Shortener
X-KDE-Derived=Choqok/Plugin
Comment=Choqok Shortener Plugin
Comment[bg]=Приставка на Choqok за съкращаване на адреси
Comment[da]=Choqok forkortelses-plugin
Comment[en_GB]=Choqok Shortener Plugin
Comment[es]=Complemento de acortamiento de Choqok
Comment[et]=Choqoki lühendamise plugin
Comment[fr]=Module externe de raccourcissement pour Choqok
Comment[gl]=Engadido de abreviación de Choqok
Comment[hr]=Priključak Choqoka za kraćenje
Comment[it]=Estensione di abbreviazione di Choqok
Comment[ja]=Choqok 短縮プラグイン
Comment[nds]=Afkörtenmoduul för Choqok
Comment[nl]=Choqok inkort-plugin
Comment[pt]='Plugin' de Diminuição de URL's do Choqok
Comment[pt_BR]=Plug-in de encolhimento do Choqok
Comment[ru]=Автосокращения
Comment[sv]=Avkortningsinsticksprogram för Choqok
Comment[tr]=Choqok Kısaltıcı Eklentisi
Comment[uk]=Додаток скорочення для Choqok
Comment[x-test]=xxChoqok Shortener Pluginxx

