[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/Uploader
X-KDE-Derived=Choqok/Plugin
Comment=Choqok Uploader Plugin
Comment[ar]=ملحقة «چغوك» للرّفع
Comment[bg]=Приставка на Choqok за качване на медийни файлове
Comment[bs]=Priključak Choqoka za slanje datoteka
Comment[ca]=Connector per a les pujades del Choqok
Comment[ca@valencia]=Connector per pujades del Choqok
Comment[cs]=Zásuvný modul Choqok Uploader
Comment[da]=Uploader-plugin til Choqok
Comment[de]=Choqok-Upload-Modul
Comment[el]=Πρόσθετο αποστολής Choqok
Comment[en_GB]=Choqok Uploader Plugin
Comment[es]=Complemento de envío de Choqok
Comment[et]=Choqoki üleslaadimise plugin
Comment[eu]=Choqok kargatzaile plugina
Comment[fi]=Choqok-lähetysliitännäinen
Comment[fr]=Module externe d'envoi pour Choqok
Comment[gl]=Complemento de envíos do Choqok
Comment[hu]=Choqok feltöltő bővítmény
Comment[it]=Estensione del caricatore di Choqok
Comment[ja]=Choqok アップローダプラグイン
Comment[km]=កម្ម​វិធី​ជំនួយ​នៃ​កម្ម​វិធី​ផ្ទុក​​របស់​​​​ Choqok 
Comment[ko]=Choqok 업로드 플러그인
Comment[nb]=Choqok programtillegg for opplasting
Comment[nds]=Hoochladermoduul för Choqok
Comment[nl]=Choqok uploader-plugin
Comment[pa]=ਚੋਕਿਉਕ ਅੱਪਲੋਡਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka wysyłania Choqok
Comment[pt]='Plugin' de Envio do Choqok
Comment[pt_BR]=Plugin de envio do Choqok
Comment[ru]=Загрузка файлов
Comment[sk]=Choqok Uploader Plugin
Comment[sl]=Vstavek za pošiljanje za Choqok
Comment[sv]=Uppladdningsinsticksprogram för Choqok
Comment[tr]=Choqok Dosya Gönderme Eklentisi
Comment[uk]=Додаток вивантаження для Choqok
Comment[x-test]=xxChoqok Uploader Pluginxx
Comment[zh_CN]=Choqok 上传器插件
Comment[zh_TW]=Choqok 上傳器外掛程式
