[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/Shortener
X-KDE-Derived=Choqok/Plugin
Comment=Choqok Shortener Plugin
Comment[ar]=ملحقة «عصفورك» للتّقصير
Comment[bg]=Приставка на Choqok за съкращаване на адреси
Comment[bs]=Priključak Choqoka za kraćenje
Comment[ca]=Connector escurçador del Choqok
Comment[ca@valencia]=Connector escurçador de Choqok
Comment[cs]=Zásuvný modul Choqok Shortener
Comment[da]=Choqok afkortelses-plugin
Comment[de]=Choqok-Kürzungsmodul
Comment[el]=Πρόσθετο συντόμευσης Choqok
Comment[en_GB]=Choqok Shortener Plugin
Comment[es]=Complemento de acortamiento de Choqok
Comment[et]=Choqoki lühendamise plugin
Comment[eu]=Choqok laburtzaile plugina
Comment[fi]=Choqok-lyhentäjäliitännäinen
Comment[fr]=Module externe de raccourcissement pour Choqok
Comment[gl]=Complemento de abreviación de Choqok
Comment[hr]=Priključak Choqoka za kraćenje
Comment[hu]=Choqok rövidítő bővítmény
Comment[it]=Estensione per l'abbreviazione di Choqok
Comment[ja]=Choqok 短縮プラグイン
Comment[km]=កម្ម​វិធី​ជំនួយ​នៃ​កម្ម​វិធី​កាត់​ Choqok ​ឲ្យ​ខ្លី
Comment[ko]=Choqok URL 단축 플러그인
Comment[nb]=Choqok programtillegg for innkorting
Comment[nds]=Afkörtenmoduul för Choqok
Comment[nl]=Choqok inkort-plugin
Comment[pa]=ਚੋਕਿਉਕ ਛੋਟਾ ਬਣਾਉਣ ਵਾਲੀ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka skracania adresów Choqok
Comment[pt]='Plugin' de Diminuição de URL's do Choqok
Comment[pt_BR]=Plugin de encurtamento do Choqok
Comment[ru]=Сокращение ссылок
Comment[sk]=Choqok Shortener Plugin
Comment[sl]=Vstavek za krajšanje za Choqok
Comment[sv]=Avkortningsinsticksprogram för Choqok
Comment[tr]=Choqok Kısaltıcı Eklentisi
Comment[uk]=Додаток скорочення для Choqok
Comment[x-test]=xxChoqok Shortener Pluginxx
Comment[zh_CN]=Choqok 短链服务插件
Comment[zh_TW]=Choqok 縮短網址外掛程式

