[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Choqok/Uploader
X-KDE-Derived=Choqok/Plugin
Comment=Choqok Uploader Plugin
Comment[x-test]=xxChoqok Uploader Pluginxx
