[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=view-filter
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_filter
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_filter
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Filter posts
Name[bg]=Филтриране на публикациите
Name[da]=Filtrér indlæg
Name[de]=Nachrichten filtern
Name[en_GB]=Filter posts
Name[es]=Filtrar los mensajes
Name[et]=Postituste filtreerimine
Name[fr]=Filtrer les articles
Name[hr]=Filtriraj objave
Name[it]=Filtra messaggi
Name[ja]=投稿をフィルタ
Name[nb]=Filtrer meldinger
Name[nl]=Posten filteren
Name[pa]=ਪੋਸਟ ਫਿਲਟਰ ਕਰੋ
Name[pl]=Filtruj wiadomości
Name[pt]=Filtrar as publicações
Name[pt_BR]=Filtrar as menagens
Name[sv]=Filtrera inlägg
Name[tr]=Durum iletilerini filtrele
Name[uk]=Фільтрування дописів
Name[x-test]=xxFilter postsxx
Comment=Filtering unwanted posts
Comment[bg]=Филтриране на нежеланите публикации
Comment[da]=Filtrering af uønskede indlæg
Comment[de]=Unerwünschte Nachrichten filtern
Comment[en_GB]=Filtering unwanted posts
Comment[es]=Filtrando los mensajes no deseados
Comment[et]=Soovimatute postituste filtreerimine
Comment[fr]=Filtrer les articles non sollicités
Comment[hr]=Filtriram neželjene objave
Comment[it]=Filtraggio messaggi indesiderati
Comment[nb]=Filtrerer uønskede meldinger
Comment[nl]=Ongewenst posten filteren
Comment[pa]=ਗ਼ੈਰ-ਲੋੜੀਦੀਆਂ ਪੋਸਟ ਫਿਲਟਰ ਕਰੋ
Comment[pl]=Filtrowanie niechcianych wiadomości
Comment[pt]=Filtrar as publicações indesejadas
Comment[pt_BR]=Filtrar as mensagens indesejadas
Comment[sv]=Filtrerar oönskade inlägg
Comment[tr]=İstenmeyen durum iletileri filtreleniyor
Comment[uk]=Вилучення небажаних дописів
Comment[x-test]=xxFiltering unwanted postsxx
