[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=media-playback-start
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_nowlistening
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_nowlistening
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Now Listening
Name[bg]=Сега слушам
Name[da]=Lytter nu til
Name[de]=Ich höre gerade
Name[en_GB]=Now Listening
Name[es]=Ahora escuchando
Name[et]=Praegu kuulan
Name[fr]=En écoute
Name[gl]=A escoitar agora
Name[hr]=Sada slušam
Name[it]=In ascolto
Name[ja]=今聴いているもの
Name[nl]=Luistert nu naar
Name[pt]=Agora a Ouvir
Name[pt_BR]=Escutando agora
Name[sv]=Lyssnar nu
Name[tr]=Şimdi Dinleniyor
Name[uk]=Зараз слухаю
Name[x-test]=xxNow Listeningxx
Comment=Tells your friends what you are listening to.
Comment[da]=Fortæller dine venner hvad du lytter til.
Comment[en_GB]=Tells your friends what you are listening to.
Comment[et]=Sõpradele teatamine, mida parajasti kuulad.
Comment[gl]=Dilles ás túas amizades o que andas a escoitar.
Comment[it]=Dice ai tuoi amici che cosa stai ascoltando.
Comment[ja]=何を聴いているかを友達に伝える
Comment[pt]=Diga aos seus amigos o que está a ouvir.
Comment[sv]=Talar om för dina vänner vad du lyssnar på.
Comment[uk]=Повідомляє вашим друзям про музику, яку ви слухаєте.
Comment[x-test]=xxTells your friends what you are listening to.xx
