[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=media-playback-start
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_nowlistening
X-KDE-PluginInfo-Author=Ramin Gomari
X-KDE-PluginInfo-Email=ramin.gomari@gmail.com
X-KDE-PluginInfo-Name=choqok_nowlistening
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Now Listening
Name[bg]=Сега слушам
Name[ca]=Ara s'escolta
Name[ca@valencia]=Ara s'escolta
Name[cs]=Nyní poslouchám
Name[da]=Lytter nu til
Name[de]=Ich höre gerade
Name[en_GB]=Now Listening
Name[eo]=Nun aŭskultanta
Name[es]=Ahora escuchando
Name[et]=Praegu kuulan
Name[fi]=Nyt kuunnellaan
Name[fr]=En cours d'écoute
Name[ga]=Ag Éisteacht Anois
Name[gl]=A escoitar agora
Name[hr]=Sada slušam
Name[it]=In ascolto
Name[ja]=今聴いているもの
Name[km]=ឥឡូវ​នេះ​ស្ដាប់​
Name[nb]=Lytter nå til
Name[nds]=Jüst an't Hören
Name[nl]=Luistert nu naar
Name[pa]=ਹੁਣ ਸੁਣ ਰਿਹਾ/ਰਹੀ ਹਾਂ
Name[pl]=Teraz słucham
Name[pt]=Agora a Ouvir
Name[pt_BR]=Ouvindo
Name[ro]=Acum ascult
Name[ru]=Сейчас звучит
Name[sv]=Lyssnar nu
Name[tr]=Şimdi Dinleniyor
Name[uk]=Зараз слухаю
Name[x-test]=xxNow Listeningxx
Name[zh_CN]=正在收听
Name[zh_TW]=正在收聽
Comment=Tells your friends what you are listening to
Comment[bg]=Известява приятелите ви каква музика слушате.
Comment[ca]=Li diu als vostres amics el que esteu escoltant.
Comment[ca@valencia]=Li diu als vostres amics el que esteu escoltant.
Comment[da]=Fortæller dine venner hvad du lytter til.
Comment[de]=Teilt Ihren Freunden mit, welche Musik Sie gerade hören
Comment[en_GB]=Tells your friends what you are listening to.
Comment[es]=Le dice a sus amigos lo que está escuchando.
Comment[et]=Sõpradele teatamine, mida parajasti kuulad.
Comment[fi]=Kertoo ystävillesi, mitä parhaillaan kuuntelet.
Comment[fr]=Informe vos amis de ce que vous écoutez actuellement.
Comment[gl]=Dilles ás túas amizades o que andas a escoitar.
Comment[hr]=Reci svojim prijateljima što slušaš.
Comment[it]=Dice ai tuoi amici che cosa stai ascoltando.
Comment[ja]=何を聴いているかを友達に伝える
Comment[km]=ប្រាប់​មិត្ត​របស់​អ្នក​នូវ​អ្វី​ដែល​អ្នក​កំពុង​ស្ដាប់​ ។
Comment[nb]=Forteller venner hva du hører på.
Comment[nds]=Vertellt Dien Frünnen de Musik, de Du jüst höörst.
Comment[nl]=Vertelt je vrienden waarnaar je naar luistert.
Comment[pa]=ਆਪਣੇ ਦੋਸਤਾਂ ਨੂੰ ਦੱਸੋ ਕਿ ਤੁਸੀਂ ਕੀ ਸੁਣ ਰਹੇ ਹੋ।
Comment[pl]=Informuje znajomych o tym, czego teraz słuchasz.
Comment[pt]=Diga aos seus amigos o que está a ouvir.
Comment[pt_BR]=Diz a seus amigos o que você está escutando.
Comment[ro]=Le spune prietenilor ce ascultați.
Comment[sv]=Talar om för dina vänner vad du lyssnar på.
Comment[uk]=Повідомляє вашим друзям про музику, яку ви слухаєте.
Comment[x-test]=xxTells your friends what you are listening to.xx
Comment[zh_CN]=告诉您的好友您正在收听的内容。
Comment[zh_TW]=告訴您的朋友您正在聽什麼。
