[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_nowlistening
X-KDE-FactoryName=kcm_choqok_nowlistening
X-KDE-ParentApp=choqok_nowlistening
X-KDE-ParentComponents=choqok_nowlistening

Name=Now Listening
Name[da]=Lytter nu til
Name[es]=Ahora escuchando
Name[gl]=A escoitar agora
Name[it]=In ascolto
Name[pt]=Agora a Ouvir
Name[pt_BR]=Escutando agora
Name[sv]=Lyssnar nu
Name[tr]=Şimdi Dinleniyor
Name[uk]=Зараз слухаю
Name[x-test]=xxNow Listeningxx
Comment=Tells your friends what you're listening to
Comment[da]=Fortæller dine venner hvad du lytter til
Comment[es]=Le dice a sus amigos que está escuchando ahora
Comment[gl]=Dilles ás túas amizades o que andas a escoitar
Comment[it]=Raccogli informazioni sulla traccia attualmente in riproduzione e preparati ad inviarla con la finestra dei messaggi rapidi di Choqok
Comment[pt]=Diga aos seus amigos o que está a ouvir
Comment[pt_BR]=Diz a seus colegas o que você está escutando
Comment[sv]=Samla Information om nuvarande spelat spår och förbered för att skicka in det via Choqoks dialogruta för snabbinlägg
Comment[uk]=Повідомляє вашим друзям про музику, яку ви слухаєте
Comment[x-test]=xxTells your friends what you're listening toxx

