<!DOCTYPE kpartgui>
<kpartgui name="choqok" version="3">
    <MenuBar>
        <Menu name="tools"><text>Tools</text>
            <Action name="nowListening" />
        </Menu>
    </MenuBar>
</kpartgui>
