[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_untiny
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_untiny
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=UnTiny URLs
Name[bg]=Разширяване на адреси
Name[da]=UnTiny URL'er
Name[en_GB]=UnTiny URLs
Name[et]=URL-ide väljalugemine
Name[fr]=URL de Untiny
Name[gl]=URL de UnTiny
Name[hr]=URL-ovi UnTinyja
Name[it]=UnTiny URL
Name[ja]=URL の逆短縮
Name[nb]=UnTiny URL-er
Name[nl]=UnTiny URL's
Name[pt]=Aumentar os URL's
Name[sv]=Webbadresser från UnTiny
Name[tr]=Adresleri Kısaltma
Name[uk]=Розгортання URL
Name[x-test]=xxUnTiny URLsxx
Name[zh_CN]=展开 URL
Comment=Extract the full URL and show it as a tooltip
Comment[bg]=Разширяване на съкратени адреси и показване в подсказка
Comment[da]=Udtræk den fulde URL og vis den som et værktøjstip
Comment[de]=Verkürzte Adressen (URLs) in einer Kurzinfo vollständig anzeigen
Comment[en_GB]=Extract the full URL and show it as a tooltip
Comment[et]=Täieliku URL-i väljalugemine ja näitamine kohtspikrina
Comment[fr]=Extraire l'URL complet et l'afficher comme infobulle
Comment[gl]=Extraer o URL completo e mostralo como mensaxe emerxente
Comment[hr]=Izvadi puni URL i prikaži ga kao info-oblačić
Comment[it]=Estrai l'URL completo e mostralo come suggerimento
Comment[ja]=完全な URL を取り出しツールチップとしてそれを表示する
Comment[nb]=Trekk ut fullstendig URL og vis den som et verktøytips
Comment[nl]=Haal de volledige URL op en toon deze als een tekstballon
Comment[pt]=Extrair o URL completo e mostrá-lo como uma dica
Comment[pt_BR]=Extrai a URL completa e exibe-a como uma dica de ferramenta
Comment[sv]=Extrahera den fullständiga webbadressen, och visa den som ett verktygstips
Comment[uk]=Розгортає адреси URL і показує їх на панелі підказки
Comment[x-test]=xxExtract the full URL and show it as a tooltipxx
Comment[zh_CN]=展开完整 URL 并显示为工具提示
