[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_untiny
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_untiny
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=UnTiny URLs
Name[bg]=Разширяване на адреси
Name[it]=UnTiny URL
Name[pt]=Aumentar os URL's
Name[sv]=Webbadresser från UnTiny
Name[uk]=Розгортання URL
Name[x-test]=xxUnTiny URLsxx
Comment=Extract the full URL and show it as a tooltip
Comment[bg]=Разширяване на съкратени адреси и показване в подсказка
Comment[it]=Estrai l'URL completo e mostralo come suggerimento
Comment[pt]=Extrair o URL completo e mostrá-lo como uma dica
Comment[pt_BR]=Extrai a URL completa e exibe-a como uma dica de ferramenta
Comment[sv]=Extrahera den fullständiga webbadressen, och visa den som ett verktygstips
Comment[uk]=Розгортає адреси URL і показує їх на панелі підказки
Comment[x-test]=xxExtract the full URL and show it as a tooltipxx
