[Desktop Entry]
Icon=user-properties
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_accountsconfig
X-KDE-FactoryName=kcm_choqok_accountsconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=20

Name=Accounts
Name[bg]=Сметки
Name[da]=Konti
Name[es]=Cuentas
Name[fr]=Comptes
Name[gl]=Contas
Name[it]=Account
Name[pt]=Contas
Name[pt_BR]=Contas
Name[sv]=Konton
Name[tr]=Hesaplar
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Comment=Manage Your Accounts
Comment[bg]=Управление на сметките
Comment[da]=Håndtér dine konti
Comment[es]=Gestione sus cuentas
Comment[fr]=Gérez vos comptes
Comment[gl]=Xestione as súas contas
Comment[it]=Gestisci i tuoi account
Comment[pt]=Gerir as Suas Contas
Comment[pt_BR]=Gerencie suas contas
Comment[sv]=Hantera dina konton
Comment[tr]=Hesaplarınızı Yönetin
Comment[uk]=Керування вашими обліковими записами
Comment[x-test]=xxManage Your Accountsxx
