[Desktop Entry]
Icon=user-properties
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_accountsconfig
X-KDE-FactoryName=kcm_choqok_accountsconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok

Name=Accounts
Name[ar]=حسابات
Name[bg]=Сметки
Name[bn]=অ্যাকাউন্ট
Name[br]=Kontoù
Name[ca]=Comptes
Name[cs]=Účty
Name[cy]=Cyfrifon
Name[da]=Konti
Name[de]=Zugänge
Name[el]=Λογαριασμοί
Name[eo]=Kontoj
Name[es]=Cuentas
Name[et]=Kontod
Name[eu]=Kontuak
Name[fa]=حسابها
Name[fi]=Tilit
Name[fr]=Comptes
Name[ga]=Cuntais
Name[gl]=Contas
Name[he]=חשבונות
Name[hi]=खाते
Name[hne]=खाते
Name[hr]=Korisnički računi
Name[hu]=Azonosítók
Name[is]=Notandanöfn
Name[it]=Account
Name[ja]=アカウント
Name[kk]=Тіркелгілер
Name[ko]=계정
Name[lt]=Paskyros
Name[lv]=Konti
Name[mai]=खाता
Name[mk]=Сметки
Name[ml]=എക്കൌണ്ടുകള്‍
Name[nb]=Kontoer
Name[nds]=Kontos
Name[ne]=खाता
Name[nn]=Kontoar
Name[oc]=Comptes
Name[pa]=ਅਕਾਊਂਟ
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ro]=Conturi
Name[ru]=Учётные записи
Name[se]=Kontut
Name[sk]=Účty
Name[sl]=Računi
Name[sr]=Налози
Name[sr@latin]=Nalozi
Name[sv]=Konton
Name[ta]=கணக்குகள்
Name[tg]=Ҳисоботҳо
Name[tr]=Hesaplar
Name[uk]=Рахунки
Name[uz]=Hisoblar
Name[uz@cyrillic]=Ҳисоблар
Name[vi]=Tài khoản
Name[wa]=Contes
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_HK]=帳號
Name[zh_TW]=帳號
Comment=Manage Your Accounts
