[Desktop Entry]
Icon=user-properties
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_accountsconfig
X-KDE-FactoryName=kcm_choqok_accountsconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=20

Name=Accounts
Name[bg]=Сметки
Name[ca]=Comptes
Name[ca@valencia]=Comptes
Name[cs]=Účty
Name[da]=Konti
Name[de]=Zugänge
Name[en_GB]=Accounts
Name[eo]=Kontoj
Name[es]=Cuentas
Name[et]=Kontod
Name[fi]=Tilit
Name[fr]=Comptes
Name[ga]=Cuntais
Name[gl]=Contas
Name[hr]=Računi
Name[it]=Account
Name[ja]=アカウント
Name[km]=គណនី
Name[nb]=Kontoer
Name[nds]=Kontos
Name[nl]=Accounts
Name[pa]=ਅਕਾਊਂਟ
Name[pl]=Konta
Name[pt]=Contas
Name[pt_BR]=Contas
Name[ro]=Conturi
Name[sv]=Konton
Name[tr]=Hesaplar
Name[uk]=Облікові записи
Name[x-test]=xxAccountsxx
Name[zh_CN]=账户
Name[zh_TW]=帳號
Comment=Manage Your Accounts
Comment[bg]=Управление на сметките
Comment[ca]=Gestioneu els vostres comptes
Comment[ca@valencia]=Gestioneu els vostres comptes
Comment[da]=Håndtér dine konti
Comment[de]=Zugangsverwaltung
Comment[en_GB]=Manage Your Accounts
Comment[es]=Gestione sus cuentas
Comment[et]=Oma kontode haldamine
Comment[fi]=Hallitse tilejäsi
Comment[fr]=Gérez vos comptes
Comment[gl]=Xestione as súas contas
Comment[hr]=Upravljalj svojim računima
Comment[it]=Gestisci i tuoi account
Comment[ja]=アカウントの管理
Comment[km]=គ្រប់​គ្រង​គណនី​របស់​អ្នក​
Comment[nb]=Håndter kontoene dine
Comment[nds]=Dien Kontos plegen
Comment[nl]=Uw accounts beheren
Comment[pa]=ਆਪਣੇ ਅਕਾਊਂਟ ਦਾ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Zarządzanie kontami
Comment[pt]=Gerir as Suas Contas
Comment[pt_BR]=Gerencia suas contas
Comment[ro]=Gestionați conturile
Comment[sv]=Hantera dina konton
Comment[tr]=Hesaplarınızı Yönetin
Comment[uk]=Керування вашими обліковими записами
Comment[x-test]=xxManage Your Accountsxx
Comment[zh_CN]=管理您的账户
Comment[zh_TW]=管理您的帳號
