[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_choqok_imstatus
X-KDE-FactoryName=kcm_choqok_imstatus
X-KDE-ParentApp=choqok_imstatus
X-KDE-ParentComponents=choqok_imstatus
Name=IMStatus
Name[da]=IMStatus
Name[en_GB]=IMStatus
Name[et]=Kiirsuhtlusolek
Name[fr]=IMStatus
Name[it]=StatoIM
Name[km]=IMStatus
Name[nb]=IMStatus
Name[nl]=IMStatus
Name[pa]=IMStatus
Name[pt]=Estado IM
Name[pt_BR]=Estado IM
Name[sv]=Meddelandestatus
Name[uk]=Стан у мережі МП
Name[x-test]=xxIMStatusxx
Name[zh_TW]=IMStatus
Comment=Sets status of your instant messenger as your status in micro-blog.
Comment[da]=Sætter status i din instant messenger til status fra din mikroblog.
Comment[en_GB]=Sets status of your instant messenger as your status in micro-blog.
Comment[et]=Kiirsuhtlusrakenduse oleku määramine mikroblogi olekuks.
Comment[fr]=Définit l'état de votre messagerie instantanée comme votre état dans le microblogue.
Comment[it]=Imposta lo stato del programma di messaggistica istantanea come il tuo stato nel microblog.
Comment[nb]=Setter status for lynmeldingsprogrammet ditt som din status i mikrobloggen.
Comment[nl]=Uw status van uw instant-messenger instellen als uw status in de micro-blog.
Comment[pt]=Muda o estado do seu mensageiro instantâneo para o seu estado no micro-blog.
Comment[pt_BR]=Define o estado do seu mensageiro instantâneo para o seu estado no micro-blog.
Comment[sv]= Anger status för direktmeddelanden som din status i mikroblogg.
Comment[uk]=Встановлення у вашому мікроблозі стану, тотожного до стану у програмі для миттєвого обміну повідомленнями.
Comment[x-test]=xxSets status of your instant messenger as your status in micro-blog.xx
Comment[zh_TW]=將您的微部落格裡的狀態設成跟即時通訊的狀態一樣。
