[Desktop Entry]
Name=Choqok
Name[gl]=ChoqoK
Name[x-test]=xxChoqokxx
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=KDE Micro-blogging Client
GenericName[bg]=KDE клиент за бързи бележки
GenericName[da]=KDE micro-blogging-klient
GenericName[es]=Cliente de microblogging de KDE
GenericName[et]=KDE mikroblogimise klient
GenericName[fr]=Client de microblogage pour KDE
GenericName[ga]=Cliant Micreabhlagadóireachta KDE
GenericName[gl]=Cliente para microblogues do KDE
GenericName[it]=Client di microblogging di KDE
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ KDE Micro-blogging
GenericName[ms]=Klien Mikro-pemblog KDE
GenericName[nds]=KDE-Programm för Mikro-Nettdaagböker
GenericName[nl]=KDE Micro-blogging-client
GenericName[pt]=Cliente de micro-blogs do KDE
GenericName[pt_BR]=Cliente de microblogging do KDE
GenericName[sv]=KDE-klient för mikrowebbjournaler
GenericName[tr]=KDE Mini-günlük İstemcisi
GenericName[uk]=Клієнт мікроблогів для KDE
GenericName[x-test]=xxKDE Micro-blogging Clientxx
GenericName[zh_CN]=KDE 微播客吐槽客户端
GenericName[zh_TW]=KDE Micro-blogging 客戶端程式
Terminal=false
X-DBUS-StartupType=Unique
X-Ubuntu-Gettext-Domain=desktop_kdesdk
