[Desktop Entry]
Name=Choqok
Name[bg]=Choqok
Name[bs]=Choqok
Name[ca]=Choqok
Name[ca@valencia]=Choqok
Name[cs]=Choqok
Name[da]=Choqok
Name[de]=Choqok
Name[el]=Choqok
Name[en_GB]=Choqok
Name[eo]=Choqok
Name[es]=Choqok
Name[et]=Choqok
Name[fa]=چغک
Name[fi]=Choqok
Name[fr]=Choqok
Name[ga]=Choqok
Name[gl]=ChoqoK
Name[hr]=Choqok
Name[hu]=Choqok
Name[it]=Choqok
Name[ja]=Choqok
Name[km]=Choqok
Name[nb]=Choqok
Name[nds]=Choqok
Name[nl]=Choqok
Name[pa]=ਚੋਕਿਉਕ
Name[pl]=Choqok
Name[pt]=Choqok
Name[pt_BR]=Choqok
Name[ro]=Choqok
Name[ru]=Choqok
Name[sq]=Choqok
Name[sv]=Choqok
Name[tr]=Choqok
Name[ug]=Choqok
Name[uk]=Choqok
Name[x-test]=xxChoqokxx
Name[zh_CN]=Choqok
Name[zh_TW]=Choqok
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=Micro-blogging Client
GenericName[da]=Mikroblogging-klient
GenericName[de]=Micro-Blogging-Programm
GenericName[nb]=Klient for mikroblogging
GenericName[nl]=Micro-blogging-client
GenericName[pt]=Cliente de micro-blogs
GenericName[pt_BR]=Cliente de microblogging
GenericName[sv]=Klient för mikrobloggar
GenericName[uk]=Клієнт мікроблогів
GenericName[x-test]=xxMicro-blogging Clientxx
Terminal=false
X-DBUS-StartupType=Unique
X-Ubuntu-Gettext-Domain=desktop_kdesdk
