[Desktop Entry]
Name=Choqok
Name[x-test]=xxChoqokxx
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=KDE Micro-blogging Client
GenericName[x-test]=xxKDE Micro-blogging Clientxx
Terminal=false
X-DBUS-StartupType=Unique
X-Ubuntu-Gettext-Domain=desktop_kdesdk
