[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=pumpio_microblog
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_pumpio
X-KDE-PluginInfo-Author=Andrea Scarpino
X-KDE-PluginInfo-Email=scarpino@kde.org
X-KDE-PluginInfo-Name=choqok_pumpio
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Pump.io network
Name[ar]=شبكة Pump.io
Name[ast]=Rede Pump.io
Name[bs]=Pump.io mreža
Name[ca]=Xarxa pump.io
Name[ca@valencia]=Xarxa pump.io
Name[cs]=Síť Pump.io
Name[da]=Pump.io-netværket
Name[de]=Pump.io-Netzwerk
Name[el]=Δίκτυο Pump.io
Name[en_GB]=Pump.io network
Name[es]=Red Pump.io
Name[fi]=Pump.io-verkko
Name[fr]=Réseau Pump.io
Name[gl]=Rede Pump.io
Name[hu]=Pump.io hálózat
Name[it]=Rete Pump.io
Name[nb]=Pump.io-nettverk
Name[nds]=Pump.io-Nettwark
Name[nl]=Netwerk Pump.io
Name[pl]=Sieć Pump.io
Name[pt]=Rede do Pump.io
Name[pt_BR]=Rede Pump.io
Name[sk]=Pump.io sieť
Name[sl]=Omrežje Pump.io
Name[sv]=Nätverked Pump.io
Name[tr]=Pump.io ağı
Name[uk]=Мережа pump.io
Name[x-test]=xxPump.io networkxx
Name[zh_CN]=Pump.io 网络
Name[zh_TW]=Pump.io 網路
Comment=Pump.io network
Comment[ar]=شبكة Pump.io
Comment[ast]=Rede Pump.io
Comment[bs]=Pump.io mreža
Comment[ca]=Xarxa pump.io
Comment[ca@valencia]=Xarxa pump.io
Comment[cs]=Síť Pump.io
Comment[da]=Pump.io-netværket
Comment[de]=Pump.io-Netzwerk
Comment[el]=Δίκτυο Pump.io
Comment[en_GB]=Pump.io network
Comment[es]=Red Pump.io
Comment[fi]=Pump.io-verkko
Comment[fr]=Réseau Pump.io
Comment[gl]=Rede Pump.io
Comment[hu]=Pump.io hálózat
Comment[it]=Rete Pump.io
Comment[nb]=Pump.io-nettverk
Comment[nds]=Pump.io-Nettwark
Comment[nl]=Netwerk Pump.io
Comment[pl]=Sieć Pump.io
Comment[pt]=Rede do Pump.io
Comment[pt_BR]=Rede Pump.io
Comment[sk]=Pump.io sieť
Comment[sl]=Omrežje Pump.io
Comment[sv]=Nätverked Pump.io
Comment[tr]=Pump.io ağı
Comment[uk]=Мережа pump.io
Comment[x-test]=xxPump.io networkxx
Comment[zh_CN]=Pump.io 网络
Comment[zh_TW]=Pump.io 網路
