[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=applications-education-language
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_translator
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_translator
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Translator
Name[da]=Oversætter
Name[es]=Traductor
Name[et]=Tõlketeenus
Name[fr]=Traducteur
Name[hu]=Fordító
Name[nb]=Oversetter
Name[nds]=Översetter
Name[nl]=Vertaler
Name[pt]=Tradutor
Name[pt_BR]=Tradutor
Name[ru]=Переводчик
Name[sv]=Översättare
Name[uk]=Перекладач
Name[x-test]=xxTranslatorxx
Name[zh_TW]=翻譯器
Comment=Translate posts into your language (Powered by Google® Translate)
Comment[da]=Oversæt indlæg til dit sprog (baseret på Google® Translate)
Comment[es]=Traducir mensajes a su idioma (funciona con Google® Translate)
Comment[et]=Postituste tõlkimine sinu keelde (Google® Translate'i abil)
Comment[fr]=Traduit les billets dans votre langue (optimisé par Google® Translate)
Comment[hu]=Bejegyzések lefordítása az Ön nyelvére a Google® Translate használatával
Comment[nb]=Oversett poster til ditt språk (drevet av Google® Translate)
Comment[nds]=Bidrääg na Dien Spraak översetten (Praatstellt vun "Google® Translate")
Comment[nl]=Geposte berichten vertalen in uw taal (Door Google® Translate)
Comment[pt]=Traduzir as publicações para a sua língua (Suportado pelo Google® Translate)
Comment[pt_BR]=Traduzir as mensagens para o seu idioma (Suportado pelo Google® Tradutor)
Comment[ru]=Перевод сообщений на ваш язык (используется Переводчик Google®)
Comment[sv]=Översätter inlägg till ditt modersmål (med hjälp av Google® översättning)
Comment[uk]=Переклад дописів вашою мовою (за допомогою Google® Перекладач)
Comment[x-test]=xxTranslate posts into your language (Powered by Google® Translate)xx
Comment[zh_TW]=將文章翻譯成您的語言（使用 Google® 翻譯）
