[Desktop Entry]
Icon=kaboodle
Type=Service
ServiceTypes=Choqok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_translator
X-KDE-FactoryName=kcm_choqok_translator
X-KDE-ParentApp=choqok_translator
X-KDE-ParentComponents=choqok_translator

Name=Translator
Name[x-test]=xxTranslatorxx
Comment=Translate posts into your language (Powered by Google® Translate)
