[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_quickfilter
X-KDE-PluginInfo-Author=Farhad Hedayati Fard
X-KDE-PluginInfo-Email=hf.farhad@gmail.com
X-KDE-PluginInfo-Name=choqok_quickfilter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Quickly Filter posts
Name[bg]=Бързо филтриране на публикации
Name[bs]=Brzo filtriraj poruke
Name[ca]=Filtra els missatges ràpidament
Name[ca@valencia]=Filtra els missatges ràpidament
Name[cs]=Rychle filtrovat příspěvky
Name[da]=Filtrér indlæg hurtigt
Name[de]=Nachrichten schnellfiltern
Name[el]=Γρήγορο φιλτράρισμα αναρτήσεων
Name[es]=Filtrar rápidamente los mensajes
Name[et]=Postituste kiirfiltreerimine
Name[fr]=Filtrage rapide de billets
Name[gl]=Filtro rápido das mensaxes
Name[hu]=Gyors bejegyzésszűrő
Name[it]=Filtro rapido messaggi
Name[km]=ប្រកាស​តម្រង​រហ័ស
Name[nb]=Filtrer meldinger kjapt
Name[nds]=Narichten-Fixfilter
Name[nl]=Geposte berichten snel filteren
Name[pa]=ਪੋਸਟ ਤੁਰੰਤ ਫਿਲਟਰ ਕਰੋ
Name[pl]=Szybko odfiltruj posty
Name[pt]=Filtrar rapidamente as publicações
Name[pt_BR]=Filtro rápido de mensagens
Name[ru]=Быстрая фильтрация сообщений
Name[sl]=Hitro filtriraj objave
Name[sv]=Snabbfiltrera inlägg
Name[tr]=İletileri hızlıca filtrele
Name[uk]=Швидке фільтрування дописів
Name[x-test]=xxQuickly Filter postsxx
Name[zh_CN]=快速过滤信息
Name[zh_TW]=快速過濾文章
Comment=Filter posts by author name or content text
Comment[bg]=Филтриране на публикациите по име на автор или съдържание
Comment[bs]=Filtriraj poruke po imenu autora ili tekstu sadržaja
Comment[ca]=Filtra els missatges per nom d'autor o contingut del text
Comment[ca@valencia]=Filtra els missatges per nom d'autor o contingut del text
Comment[cs]=Filtrovat příspěvky podle jména autora nebo textu obsahu
Comment[da]=Filtér indlæg efter ophavsmand eller tekstindhold
Comment[de]=Nachrichten nach Autorennamen oder Inhalten filtern
Comment[el]=Φιλτράρισμα αναρτήσεων με όνομα συγγραφέα ή κείμενο
Comment[es]=Filtrar las publicaciones por el nombre del autor o el texto del contenido
Comment[et]=Postituste filtreerimine autori nime või sisu järgi
Comment[fr]=Filtre les billets par nom d'auteur ou texte de contenu
Comment[gl]=Filtrar as mensaxes polo autor ou o texto.
Comment[hu]=Bejegyzések szűrése a szerző neve vagy a tartalmi szöveg alapján
Comment[it]=Filtra i messaggi per autore o contenuto
Comment[km]=តម្រង​ប្រកាស​ដោយ​ឈ្មោះ​អ្នក​និពន្ធ ឬ​អត្ថបទ​មាតិកា
Comment[nb]=Filtrer mekldinger etter forfatternavn eller innholdstekst
Comment[nds]=Bidrääg na Schrievernaam oder Inholt filtern
Comment[nl]=Geposte berichten filteren op auteursnaam of tekstinhoud
Comment[pl]=Filtruj posty wg nazwy autora lub zawartości tekstu
Comment[pt]=Filtrar as publicações pelo nome do autor ou pelo texto do conteúdo
Comment[pt_BR]=Filtra as mensagens pelo nome do autor ou texto do conteúdo
Comment[ru]=Фильтрация сообщений по автору или по тексту
Comment[sl]=Filtrira objave po imenu avtorja ali besedilu vsebine
Comment[sv]=Filtrera inlägg enligt författarnamn eller innehållets text
Comment[tr]=Gönderimleri yazara veya içerik metnine göre filtrele
Comment[uk]=Фільтрування дописів за іменем автора або текстом вмісту
Comment[x-test]=xxFilter posts by author name or content textxx
Comment[zh_CN]=根据作者或内容过滤信息
Comment[zh_TW]=依作者名稱或內容過濾文章
