[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_quickfilter
X-KDE-PluginInfo-Author=Farhad Hedayati Fard
X-KDE-PluginInfo-Email=hf.farhad@gmail.com
X-KDE-PluginInfo-Name=choqok_quickfilter
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Quickly Filter posts
Name[da]=Filtrér indlæg hurtigt
Name[nl]=Posten snel filteren
Name[pt]=Filtrar rapidamente as publicações
Name[pt_BR]=Filtrar as mensagens rapidamente
Name[uk]=Швидке фільтрування дописів
Name[x-test]=xxQuickly Filter postsxx
Name[zh_TW]=快速過濾文章
Comment=Filter posts by author name or content text
Comment[da]=Filtér indlæg efter ophavsmand eller tekstindhold
Comment[nl]=Posten filteren op auteursnaam of tekstinhoud
Comment[pt]=Filtrar as publicações pelo nome do autor ou pelo texto do conteúdo
Comment[pt_BR]=Filtrar as mensagens pelo nome do autor ou pelo texto do conteúdo
Comment[uk]=Фільтрування дописів за іменем автора або текстом вмісту
Comment[x-test]=xxFilter posts by author name or content textxx
Comment[zh_TW]=依作者名稱或內容過濾文章
