<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="choqok" version="17">
    <MenuBar>
        <Menu name="tools"><text>Tools</text>
            <Action name="filterByAuthor" />
	    <Action name="filterByContent" />
        </Menu>
    </MenuBar>
</gui>
