[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=view-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_imagepreview
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_imagepreview
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Preview Images
Name[da]=Forhåndsvis billeder
Name[en_GB]=Preview Images
Name[es]=Previsualización de imágenes
Name[et]=Piltide eelvaatlus
Name[fr]=Aperçu des images
Name[it]=Anteprima delle immagini
Name[nb]=Forhåndsvis bilder
Name[nl]=Afbeeldingen vooraf tonen
Name[pl]=Podgląd obrazów
Name[pt]=Imagens de Antevisão
Name[pt_BR]=Visualizar imagens
Name[sv]=Förhandsgranska bilder
Name[uk]=Попередній перегляд зображень
Name[x-test]=xxPreview Imagesxx
Name[zh_CN]=预览图像
Comment=Load a thumbnail of images to have a preview of it
Comment[da]=Indlæs en miniature af billeder for at have en forhåndsvisning af dem
Comment[en_GB]=Load a thumbnail of images to have a preview of it
Comment[es]=Carga una miniatura de las imágenes para previsualizarlas
Comment[et]=Pisipiltide laadimine eelvaatluseks
Comment[fr]=Charge une vignette des images pour en avoir un aperçu
Comment[it]=Carica una miniatura delle immagini per averne un'anteprima
Comment[nb]=Last inn miniatyrer av bilder for å få en forhåndsvisning
Comment[nl]=Een miniatuur van afbeeldingen laden om er voorbeeld van te bekijken
Comment[pl]=Wczytaj miniaturki obrazów do podglądu
Comment[pt]=Carrega uma miniatura das imagens para as antever
Comment[pt_BR]=Carregar uma miniatura das imagens para ter uma visualização das mesmas
Comment[sv]=Läs in en miniatyrbild för att ha en förhandsgranskning av bilden
Comment[uk]=Завантаження мініатюр зображень для попереднього перегляду
Comment[x-test]=xxLoad a thumbnail of images to have a preview of itxx
Comment[zh_CN]=装入图像缩略图查看预览
