[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=twitter_microblog
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_twitter
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_twitter
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Twitter
Name[bg]=Twitter
Name[bs]=Twitter
Name[ca]=Twitter
Name[ca@valencia]=Twitter
Name[cs]=Twitter
Name[da]=Twitter
Name[de]=Twitter
Name[el]=Twitter
Name[en_GB]=Twitter
Name[eo]=Twitter
Name[es]=Twitter
Name[et]=Twitter
Name[fi]=Twitter
Name[fr]=Twitter
Name[ga]=Twitter
Name[gl]=Twitter
Name[hr]=Twitter
Name[hu]=Twitter
Name[it]=Twitter
Name[ja]=Twitter
Name[km]=Twitter
Name[lt]=Twitter
Name[nb]=Twitter
Name[nds]=Twitter
Name[nl]=Twitter
Name[pa]=ਟਵਿੱਟਰ
Name[pl]=Twitter
Name[pt]=Twitter
Name[pt_BR]=Twitter
Name[ro]=Twitter
Name[ru]=Twitter
Name[sk]=Twitter
Name[sl]=Twitter
Name[sv]=Twitter
Name[tr]=Twitter
Name[ug]=Twitter
Name[uk]=Twitter
Name[x-test]=xxTwitterxx
Name[zh_CN]=Twitter
Name[zh_TW]=Twitter
Comment=Twitter.com Service
Comment[bg]=Услуга на сайта Twitter.com
Comment[bs]=Servis twitter.com
Comment[ca]=Servei Twitter.com
Comment[ca@valencia]=Servei Twitter.com
Comment[cs]=Služba Twitter.com
Comment[da]=Twitter.com-tjenesten
Comment[de]=Twitter.com-Dienst
Comment[el]=Υπηρεσία Twitter.com
Comment[en_GB]=Twitter.com Service
Comment[es]=Servicio de Twitter.com
Comment[et]=Twitter.com-i teenus
Comment[fi]=Twitter.com-palvelu
Comment[fr]=Service « Twitter.com »
Comment[gl]=Servizo Twitter.com
Comment[hr]=Servis twitter.com
Comment[hu]=Twitter.com szolgáltatás
Comment[it]=Servizio Twitter.com
Comment[ja]=Twitter.com サービス
Comment[km]=សេវា​កម្ម​របស់​​ Twitter.com 
Comment[nb]=Twitter.com-tjeneste
Comment[nds]=De Deenst "Twitter.com"
Comment[nl]=Twitter.com-service
Comment[pa]=Twitter.com ਸਰਵਿਸ
Comment[pl]=Serwis Twitter.com
Comment[pt]=Serviço do Twitter.com
Comment[pt_BR]=Serviço Twitter.com
Comment[ro]=Serviciu Twitter.com
Comment[ru]=Служба Twitter.com
Comment[sl]=Storitev Twitter.com
Comment[sv]=Twitter.com-tjänst
Comment[tr]=Twitter.com Servisi
Comment[uk]=Служба Twitter.com
Comment[x-test]=xxTwitter.com Servicexx
Comment[zh_CN]=Twitter.com 服务
Comment[zh_TW]=Twitter.com 服務
