[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_behaviorconfig
X-KDE-FactoryName=kcm_choqok_behaviorconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=10

Name=Behavior
Name[x-test]=xxBehaviorxx
Comment=Personalize Choqok's Behavior
Comment[x-test]=xxPersonalize Choqok's Behaviorxx

