[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_behaviorconfig
X-KDE-FactoryName=kcm_choqok_behaviorconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=10

Name=Behavior
Name[ar]=السّلوك
Name[bg]=Поведение
Name[bs]=Ponašanje
Name[ca]=Comportament
Name[ca@valencia]=Comportament
Name[cs]=Chování
Name[da]=Opførsel
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[en_GB]=Behaviour
Name[eo]=Konduto
Name[es]=Comportamiento
Name[et]=Käitumine
Name[fa]=رفتار
Name[fi]=Toiminta
Name[fr]=Comportement
Name[ga]=Oibriú
Name[gl]=Comportamento
Name[hr]=Ponašanje
Name[hu]=Működés
Name[ia]=Comportamento
Name[it]=Comportamento
Name[ja]=挙動
Name[km]=ឥរិយាបថ
Name[lt]=Elgsena
Name[nb]=Oppførsel
Name[nds]=Bedregen
Name[nl]=Gedrag
Name[pa]=ਰਵੱਈਆ
Name[pl]=Zachowanie
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[ro]=Comportament
Name[ru]=Поведение
Name[sk]=Správanie
Name[sl]=Obnašanje
Name[sv]=Beteende
Name[tr]=Davranış
Name[ug]=ھەرىكەت
Name[uk]=Поведінка
Name[x-test]=xxBehaviorxx
Name[zh_CN]=行为
Name[zh_TW]=行為
Comment=Personalize Choqok's Behavior
Comment[bg]=Настройки на поведението на Choqok
Comment[bs]=Konfiguriši ponašanje Choqoka
Comment[ca]=Personalitzeu el comportament del Choqok
Comment[ca@valencia]=Personalitzeu el comportament del Choqok
Comment[cs]=Přizpůsobit chování Choqok
Comment[da]=Tilpas Choqoks opførsel
Comment[de]=Anpassung von Choqoks Verhalten
Comment[el]=Εξατομίκευση συμπεριφοράς Choqok
Comment[en_GB]=Personalise Choqok's Behaviour
Comment[es]=Personalizar el comportamiento de Choqok
Comment[et]=Choqoki käitumise isikupärastamine
Comment[fi]=Personalisoi Choqok-toiminta
Comment[fr]=Personnalisez le comportement de Choqok
Comment[gl]=Personalice o comportamento do Choqok
Comment[hr]=Konfiguriraj ponašanje Choqoka
Comment[hu]=A Choqok működésének testre szabása
Comment[it]=Personalizza il comportamento di Choqok
Comment[ja]=Choqok の挙動をカスタマイズ
Comment[km]=តម្រូវ​ឥរិយាបថ​របស់​ Choqok​ តាម​បុគ្គល​
Comment[nb]=Sett opp Choqoks oppførsel
Comment[nds]=Choqok sien Bedregen topassen
Comment[nl]=Maak het gedrag van Choqok persoonlijk
Comment[pa]=ਚੋਕਿਉਕ ਦਾ ਰਵੱਈਆ ਆਪਣੇ ਮੁਤਾਬਕ ਬਣਾਓ
Comment[pl]=Personalizuj zachowanie Choqok
Comment[pt]=Personalizar o Comportamento do Choqok
Comment[pt_BR]=Personaliza o comportamento do Choqok
Comment[ru]=Настройка поведения Choqok
Comment[sl]=Prilagodi obnašanje programa Choqok
Comment[sv]=Anpassa Choqoks beteende
Comment[tr]=Choqok Davranışlarını Kişiselleştir
Comment[uk]=Налаштувати поведінку Choqok
Comment[x-test]=xxPersonalize Choqok's Behaviorxx
Comment[zh_CN]=个性化 Choqok 的行为
Comment[zh_TW]=個人化 Choqok 的行為

