[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_behaviorconfig
X-KDE-FactoryName=kcm_choqok_behaviorconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=10

Name=Behavior
Name[bg]=Поведение
Name[da]=Opførsel
Name[es]=Comportamiento
Name[fr]=Comportement
Name[gl]=Comportamento
Name[hr]=Ponašanje
Name[it]=Comportamento
Name[nl]=Gedrag
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[sv]=Beteende
Name[tr]=Davranış
Name[uk]=Поведінка
Name[x-test]=xxBehaviorxx
Comment=Personalize Choqok's Behavior
Comment[bg]=Настройки на поведението на Choqok
Comment[da]=Tilpas Choqoks opførsel
Comment[es]=Personalizar el comportamiento de Choqok
Comment[fr]=Personnalisez le comportement de Choqok
Comment[gl]=Personalice o comportamento do Choqok
Comment[hr]=Konfiguriraj ponašanje Choqoka
Comment[it]=Personalizza il comportamento di Choqok
Comment[nl]=Maak het gedrag van Choqok persoonlijk
Comment[pt]=Personalizar o Comportamento do Choqok
Comment[pt_BR]=Personalizar o comportamento do Choqok
Comment[sv]=Anpassa Choqoks beteende
Comment[tr]=Choqok Davranışlarını Kişiselleştir
Comment[uk]=Налаштувати поведінку Choqok
Comment[x-test]=xxPersonalize Choqok's Behaviorxx

