[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_posterous
X-KDE-FactoryName=kcm_choqok_posterous
X-KDE-ParentApp=choqok_posterous
X-KDE-ParentComponents=choqok_posterous

Name=Posterous
Name[bg]=Posterous
Name[bs]=Posterous
Name[ca]=Posterous
Name[ca@valencia]=Posterous
Name[cs]=Posterous
Name[da]=Posterous
Name[de]=Posterous
Name[el]=Posterous
Name[en_GB]=Posterous
Name[es]=Posterous
Name[et]=Posterous
Name[fi]=Posterous
Name[fr]=Posterous
Name[gl]=Posterous
Name[hr]=Posterous
Name[hu]=Posterous
Name[it]=Posterous
Name[km]=Posterous
Name[nb]=Posterous
Name[nds]=Posterous
Name[nl]=Posterous
Name[pa]=Posterous
Name[pl]=Posterous
Name[pt]=Posterous
Name[pt_BR]=Posterous
Name[ru]=Posterous
Name[sl]=Posterous
Name[sv]=Posterous
Name[tr]=Posterous
Name[uk]=Posterous
Name[x-test]=xxPosterousxx
Name[zh_CN]=Posterous
Name[zh_TW]=Posterous
Comment=Upload image to posterous.com
Comment[bg]=Качване на изображение в posterous.com
Comment[bs]=Slanje slike na  posterous.com
Comment[ca]=Puja imatges a posterous.com
Comment[ca@valencia]=Puja imatges a posterous.com
Comment[cs]=Nahrát obrázek na posterous.com
Comment[da]=Upload billede til posterous.com
Comment[de]=Bild auf posterous.com hochladen
Comment[el]=Αποστολή φωτογραφίας στο posterous.com
Comment[en_GB]=Upload image to posterous.com
Comment[es]=Enviar imagen a posterous.com
Comment[et]=Piltide üleslaadimine posterous.com-i
Comment[fi]=Lähetä kuva posterous.com-sivustolle
Comment[fr]=Envoie une image vers « posterous.com »
Comment[gl]=Enviar imaxes a posterous.com
Comment[hr]=Postavi sliku na posterous.com
Comment[hu]=Képfeltöltés a posterous.com-ra
Comment[it]=Carica immagine su posterous.com
Comment[km]=ផ្ទុក​រូបភាព​ទៅកាន់​ posterous.com
Comment[nb]=Last opp bilde til posterous.com
Comment[nds]=Bild na "posterous.com" hoochladen
Comment[nl]=Afbeelding uploaden naar posterous.com
Comment[pa]=ਚਿੱਤਰ posterous.com ਉੱਤੇ ਅੱਪਲੋਡ ਕਰੋ
Comment[pl]=Wyślij obraz na posterous.com
Comment[pt]=Enviar a imagem para o posterous.com
Comment[pt_BR]=Envia imagens para o posterous.com
Comment[ru]=Загрузка изображений на posterous.com
Comment[sl]=Pošlji sliko na posterous.com
Comment[sv]=Ladda upp bild till posterous.com
Comment[tr]=Resmi posterous.com'a yükle
Comment[uk]=Вивантаження зображення на posterous.com
Comment[x-test]=xxUpload image to posterous.comxx
Comment[zh_CN]=上传图像到 posterous.com
Comment[zh_TW]=上傳影像到 posterous.com
