[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_posterous
X-KDE-FactoryName=kcm_choqok_posterous
X-KDE-ParentApp=choqok_posterous
X-KDE-ParentComponents=choqok_posterous

Name=Posterous
Name[da]=Posterous
Name[nl]=Posterous
Name[pt]=Posterous
Name[pt_BR]=Posterous
Name[sv]=Posterous
Name[uk]=Posterous
Name[x-test]=xxPosterousxx
Comment=Upload image to posterous.com
Comment[da]=Upload billede til posterous.com
Comment[nl]=Afbeelding uploaden naar posterous.com
Comment[pt]=Enviar a imagem para o posterous.com
Comment[pt_BR]=Enviar imagem para o posterous.com
Comment[sv]=Ladda upp bild till posterous.com
Comment[uk]=Вивантаження зображення на posterous.com
Comment[x-test]=xxUpload image to posterous.comxx
