[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_u_nu
X-KDE-PluginInfo-Author=Timothy Redaelli
X-KDE-PluginInfo-Email=timothy@redaelli.eu
X-KDE-PluginInfo-Name=choqok_u_nu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=u.nu
Name[da]=u.nu
Name[en_GB]=u.nu
Name[nl]=u.nu
Name[pt]=u.nu
Name[pt_BR]=u.nu
Name[sv]=u.nu
Name[uk]=u.nu
Name[x-test]=xxu.nuxx
Comment=A plugin to shorten URLs via the u.nu service.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten u.nu.
Comment[en_GB]=A plugin to shorten URLs via the u.nu service.
Comment[nl]=Een plugin voor het inkorten van URL's via de u.nu-service.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do u.nu.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço u.nu.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten u.nu.
Comment[uk]=Додаток для скорочення адрес за допомогою служб u.nu.
Comment[x-test]=xxA plugin to shorten URLs via the u.nu service.xx
