[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_u_nu
X-KDE-PluginInfo-Author=Timothy Redaelli
X-KDE-PluginInfo-Email=timothy@redaelli.eu
X-KDE-PluginInfo-Name=choqok_u_nu
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=u.nu
Name[bg]=u.nu
Name[da]=u.nu
Name[de]=u.nu
Name[en_GB]=u.nu
Name[es]=u.nu
Name[fr]=u.nu
Name[ja]=u.nu
Name[nb]=u.nu
Name[nl]=u.nu
Name[pt]=u.nu
Name[pt_BR]=u.nu
Name[sv]=u.nu
Name[tr]=u.nu
Name[uk]=u.nu
Name[x-test]=xxu.nuxx
Comment=A plugin to shorten URLs via the u.nu service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата u.nu.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten u.nu.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des u.nu-Dienstes zu kürzen
Comment[en_GB]=A plugin to shorten URLs via the u.nu service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de u.nu.
Comment[fr]=Un module externe pour raccourcir les URL via le service u.nu.
Comment[ja]=u.nu のサービスを通じて URL を短縮するためのプラグイン。
Comment[nb]=Et programtillegg som korter inn URL-er via u.nu-tjenesten.
Comment[nl]=Een plugin voor het inkorten van URL's via de u.nu-service.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do u.nu.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço u.nu.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten u.nu.
Comment[uk]=Додаток для скорочення адрес за допомогою служб u.nu.
Comment[x-test]=xxA plugin to shorten URLs via the u.nu service.xx
