[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_is_gd
X-KDE-FactoryName=kcm_choqok_is_gd
X-KDE-ParentApp=choqok_is_gd
X-KDE-ParentComponents=choqok_is_gd

Name=is.gd
Name[bg]=is.gd
Name[bs]=is.gd
Name[ca]=is.gd
Name[ca@valencia]=is.gd
Name[da]=is.gd
Name[de]=is.gd
Name[el]=is.gd
Name[en_GB]=is.gd
Name[es]=is.gd
Name[et]=is.gd
Name[fr]=is.gd
Name[gl]=is.gd
Name[hr]=is.gd
Name[hu]=is.gd
Name[it]=is.gd
Name[ja]=is.gd
Name[km]=is.gd
Name[nb]=is.gd
Name[nds]=is.gd
Name[nl]=is.gd
Name[pa]=is.gd
Name[pl]=is.gd
Name[pt]=is.gd
Name[pt_BR]=is.gd
Name[ru]=is.gd
Name[sv]=is.gd
Name[tr]=is.gd
Name[uk]=is.gd
Name[x-test]=xxis.gdxx
Name[zh_CN]=is.gd
Name[zh_TW]=is.gd
