[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_is_gd
X-KDE-PluginInfo-Author=Felix Rohrbach
X-KDE-PluginInfo-Email=fxrh@gmx.de
X-KDE-PluginInfo-Name=choqok_is_gd
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=is.gd Shortener
Name[da]=is.gd-afkorter
Name[de]=is.gd
Name[en_GB]=is.gd Shortener
Name[et]=is.gd lühendaja
Name[fr]=Raccourcisseur pour is.gd
Name[gl]=Abreviador de is.gd
Name[it]=Abbreviatore is.gd
Name[ja]=is.gd 短縮サービス
Name[nl]=is.gd-inkortprogramma
Name[pt]=Redutor do is.gd
Name[sv]=Is.gd avkortningsverktyg
Name[tr]=is.gd Kısaltıcı
Name[uk]=Скорочувач is.gd
Name[x-test]=xxis.gd Shortenerxx
Comment=A plugin to shorten URLs via the is.gd service.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten is.gd.
Comment[en_GB]=A plugin to shorten URLs via the is.gd service.
Comment[et]=Plugin URL-ide lühendamiseks is.gd teenuse abil.
Comment[gl]=Un engadido para abreviar URL mediante o servizo is.gd.
Comment[it]=Un'estensione per abbreviare le URL con il servizio is.gd.
Comment[ja]=is.gd のサービスを通じて URL を短縮するためのプラグイン。
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do is.gd.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten is.gd.
Comment[tr]=Is.gd kullanarak adresleri kısaltmaya yarayan bir eklenti.
Comment[uk]=Додаток для скорочення адрес за допомогою служб is.gd.
Comment[x-test]=xxA plugin to shorten URLs via the is.gd service.xx
