[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_is_gd
X-KDE-PluginInfo-Author=Felix Rohrbach
X-KDE-PluginInfo-Email=fxrh@gmx.de
X-KDE-PluginInfo-Name=choqok_is_gd
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=is.gd
Name[x-test]=xxis.gdxx
Comment=A plugin to shorten URLs via the is.gd service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата is.gd.
Comment[ca]=Un connector per escurçar URL a través del servei is.gd.
Comment[ca@valencia]=Un connector per escurçar URL a través del servei is.gd.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten is.gd.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des is.gd-Dienstes zu kürzen
Comment[en_GB]=A plugin to shorten URLs via the is.gd service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de is.gd.
Comment[et]=Plugin URL-ide lühendamiseks is.gd teenuse abil.
Comment[fi]=Liitännäinen verkko-osoitteiden lyhentämiseen is.gd-palvelun kautta.
Comment[fr]=Un module externe pour raccourcir les URL via le service is.gd.
Comment[gl]=Un engadido para abreviar URL mediante o servizo is.gd.
Comment[hr]=Priključak koji skraćuje URL-ove pomoću servisa is.gd.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio is.gd.
Comment[ja]=is.gd のサービスを通じて URL を短縮するためのプラグイン。
Comment[nb]=Et programtillegg som korter inn URL-er via is.gd-tjenesten.
Comment[nds]=En Moduul för't Afkörten vun "is.gd"-Adressen
Comment[nl]=Een plugin voor het inkorten van URL's via de is.gd-service.
Comment[pl]=Wtyczka do skracania adresów URL przy pomocy serwisu is.gd.
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do is.gd.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço is.gd
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten is.gd.
Comment[tr]=Is.gd kullanarak adresleri kısaltmaya yarayan bir eklenti.
Comment[uk]=Додаток для скорочення адрес за допомогою служб is.gd.
Comment[x-test]=xxA plugin to shorten URLs via the is.gd service.xx
Comment[zh_CN]=通过 is.gd 服务缩短 URL 的插件。
