[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_twitgoo
X-KDE-FactoryName=kcm_choqok_twitgoo
X-KDE-ParentApp=choqok_twitgoo
X-KDE-ParentComponents=choqok_twitgoo

Name=Twitgoo
Name[nl]=Twitgoo
Name[pt]=Twitgoo
Name[sv]=Twitgoo
Name[uk]=Twitgoo
Name[x-test]=xxTwitgooxx
Comment=Upload image to twitgoo.com
Comment[nl]=Afbeelding uploaden naar twitgoo.com
Comment[pt]=Enviar a imagem para o twitgoo.com
Comment[sv]=Ladda upp bild till twitgoo.com
Comment[uk]=Вивантаження зображення на twitgoo.com
Comment[x-test]=xxUpload image to twitgoo.comxx
