[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1541
Icon=icon
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_digg
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_digg
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Digg.com Shortener
Name[gl]=Abreviador de Digg.com
Name[it]=Abbreviatore Digg.com
Name[pt]=Redutor do Digg.com
Name[pt_BR]=Redutor do Digg.com
Name[sv]=Digg.com avkortningsverktyg
Name[uk]=Скорочувач Digg.com
Name[x-test]=xxDigg.com Shortenerxx
Comment=A Plugin to shorten urls via digg.com service
Comment[gl]=Un engadido para abreviar URL mediante o servizo digg.com
Comment[it]=Un'estensione per abbreviare le URL con il servizio digg.com
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do digg.com
Comment[pt_BR]=Um 'plugin' para reduzir os URL's, usando o serviço do digg.com
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten digg.com
Comment[uk]=Додаток для скорочення адрес за допомогою служб digg.com
Comment[x-test]=xxA Plugin to shorten urls via digg.com servicexx
