[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_three_ly
X-KDE-PluginInfo-Author=Andrey Esin
X-KDE-PluginInfo-Email=gmlastik@gmail.com
X-KDE-PluginInfo-Name=choqok_three_ly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://esin.name
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=3.ly
Name[da]=3.ly
Name[de]=3.ly
Name[en_GB]=3.ly
Name[es]=3.ly
Name[et]=3.ly
Name[fr]=3.ly
Name[hr]=3.ly
Name[it]=3.ly
Name[nb]=3.ly
Name[nl]=3.ly
Name[pa]=3.ly
Name[pl]=3.ly
Name[pt]=3.ly
Name[pt_BR]=3.ly
Name[sv]=3.ly
Name[uk]=3.ly
Name[x-test]=xx3.lyxx
Comment=A plugin to shorten URLs via the 3.ly service.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten 3.ly.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des 3.ly-Dienstes zu kürzen
Comment[en_GB]=A plugin to shorten URLs via the 3.ly service.
Comment[es]=Un complemento para acortar los URL por medio del servicio de 3.ly.
Comment[et]=Plugin URL-ide lühendamiseks 3.ly teenuse abil.
Comment[fr]=Un module externe pour raccourcir les URL via le service 3.ly.
Comment[hr]=Priključak koji skraćuje URL-ove pomoću servisa 3.ly.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio 3.ly.
Comment[nb]=Et programtillegg som korter inn URL-er via 3.ly-tjenesten.
Comment[nl]=Een plugin voor het inkorten van URL's via de 3.ly-service.
Comment[pl]=Wtyczka do skracania adresów URL przy pomocy serwisu 3.ly .
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do 3.ly.
Comment[pt_BR]=Um plug-in para encolher URLs através do serviço 3.ly.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten 3.ly.
Comment[uk]=Додаток для скорочення адрес за допомогою служб 3.ly.
Comment[x-test]=xxA plugin to shorten URLs via the 3.ly service.xx
