[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=choqok
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_three_ly
X-KDE-PluginInfo-Author=Andrey Esin
X-KDE-PluginInfo-Email=gmlastik@gmail.com
X-KDE-PluginInfo-Name=choqok_three_ly
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Shorteners
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=3.ly
Name[bg]=3.ly
Name[bs]=3.ly
Name[ca]=3.ly
Name[ca@valencia]=3.ly
Name[cs]=3.ly
Name[da]=3.ly
Name[de]=3.ly
Name[el]=3.ly
Name[en_GB]=3.ly
Name[es]=3.ly
Name[et]=3.ly
Name[fi]=3.ly
Name[fr]=3.ly
Name[gl]=3.ly
Name[hr]=3.ly
Name[hu]=3.ly
Name[it]=3.ly
Name[km]=3.ly
Name[nb]=3.ly
Name[nds]=3.ly
Name[nl]=3.ly
Name[pa]=3.ly
Name[pl]=3.ly
Name[pt]=3.ly
Name[pt_BR]=3.ly
Name[ru]=3.ly
Name[sk]=3.ly
Name[sl]=3.ly
Name[sv]=3.ly
Name[tr]=3.ly
Name[uk]=3.ly
Name[x-test]=xx3.lyxx
Name[zh_CN]=3.ly
Name[zh_TW]=3.ly
Comment=A plugin to shorten URLs via the 3.ly service.
Comment[bg]=Приставка за съкращаване на адреси чрез услугата 3.ly.
Comment[bs]=Priključak koji skraćuje URL-ove pomoću servisa 3.ly.
Comment[ca]=Un connector per escurçar URL a través del servei 3.ly.
Comment[ca@valencia]=Un connector per escurçar URL a través del servei 3.ly.
Comment[cs]=Zásuvný modul pro zkracování URL s použitím služby 3.ly.
Comment[da]=Et plugin til at afkorte URL'er via tjenesten 3.ly.
Comment[de]=Ein Modul, um Adressen (URLs) mit Hilfe des 3.ly-Dienstes zu kürzen
Comment[el]=Πρόσθετο συντόμευσης για URL με την υπηρεσία 3.ly
Comment[en_GB]=A plugin to shorten URLs via the 3.ly service.
Comment[es]=Un complemento para acortar las URL por medio del servicio de 3.ly.
Comment[et]=Plugin URL-ide lühendamiseks 3.ly teenuse abil.
Comment[fi]=Liitännäinen verkko-osoitteiden lyhentämiseen 3.ly-palvelun kautta.
Comment[fr]=Un module externe pour raccourcir les URL grâce au service « 3.ly ».
Comment[gl]=Un engadido para abreviar URL mediante o servizo 3.ly.
Comment[hr]=Priključak koji skraćuje URL-ove pomoću servisa 3.ly.
Comment[hu]=Bővítmény hivatkozások rövidítéséhez a 3.ly szolgáltatással.
Comment[it]=Un'estensione per abbreviare gli URL con il servizio 3.ly.
Comment[km]=កម្ម​វិធី​ជំនួយ​​ដែល​ត្រូវ​កាត់​ URLs ឲ្យ​ខ្លី​តាម​រយៈ​សេវា​របស់​ 3.ly ។
Comment[nb]=Et programtillegg som korter inn URL-er via 3.ly-tjenesten.
Comment[nds]=En Moduul för't Kortmaken vun Adressen mit "3.ly".
Comment[nl]=Een plugin voor het inkorten van URL's via de 3.ly-service.
Comment[pa]=3.ly ਸਰਵਿਸ ਰਾਹੀਂ URL ਛੋਟੇ ਕਰਨ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do skracania adresów URL przy pomocy serwisu 3.ly .
Comment[pt]=Um 'plugin' para reduzir os URL's, usando o serviço do 3.ly.
Comment[pt_BR]=Plugin para encurtar URLs com o serviço 3.ly.
Comment[ru]=Модуль для сокращения ссылок с помощью службы 3.ly.
Comment[sl]=Vstavek za krajšanje URL-jev preko storitve 3.ly.
Comment[sv]=Ett insticksprogram för att avkorta webbadresser via tjänsten 3.ly.
Comment[tr]=3.ly kullanarak adresleri kısaltmaya yarayan bir eklenti.
Comment[uk]=Додаток для скорочення адрес за допомогою служб 3.ly.
Comment[x-test]=xxA plugin to shorten URLs via the 3.ly service.xx
Comment[zh_CN]=通过 3.ly 服务缩短 URL 的插件。
Comment[zh_TW]=用 3.ly 縮短網址用的外掛程式
