[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_flickr
X-KDE-FactoryName=kcm_choqok_flickr
X-KDE-ParentApp=choqok_flickr
X-KDE-ParentComponents=choqok_flickr

Name=Flickr
Name[da]=Flickr
Name[de]=Flickr
Name[en_GB]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[hu]=Flickr
Name[it]=Flickr
Name[km]=Flickr
Name[nb]=Flickr
Name[nds]=Flickr
Name[nl]=Flickr
Name[pa]=ਫਲਿੱਕਰ
Name[pl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[ru]=Flickr
Name[sv]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx
Name[zh_TW]=Flickr
Comment=Upload image to flickr.com
Comment[da]=Upload billede til flickr.com
Comment[de]=Bild auf flickr.com hochladen
Comment[en_GB]=Upload image to flickr.com
Comment[es]=Enviar imagen a flickr.com
Comment[et]=Piltide üleslaadimine flickr.com-i
Comment[fr]=Envoyer une image à flickr.com
Comment[hu]=Képfeltöltés a flickr.com-ra
Comment[it]=Carica immagine su flickr.com
Comment[km]=ផ្ទុក​រូបភាព​ទៅកាន់​​ flickr.com
Comment[nb]=Last opp bilde til flickr.com
Comment[nds]=Bild na "flickr.com" hoochladen
Comment[nl]=Afbeelding uploaden naar flickr.com
Comment[pa]=ਚਿੱਤਰ flickr.com ਉੱਤੇ ਅੱਪਲੋਡ ਕਰੋ
Comment[pl]=Wyślij obraz na flickr.com
Comment[pt]=Enviar a imagem para o flickr.com
Comment[pt_BR]=Enviar imagem para o flickr.com
Comment[ru]=Загрузка изображений на flickr.com
Comment[sv]=Ladda upp bild till flickr.com
Comment[uk]=Вивантаження зображення на flickr.com
Comment[x-test]=xxUpload image to flickr.comxx
Comment[zh_TW]=上傳影像到 flickr.com
