[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=flickr_uploader
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_flickr
X-KDE-PluginInfo-Author=Andrey Esin
X-KDE-PluginInfo-Email=gmlastik@gmail.com
X-KDE-PluginInfo-Name=choqok_flickr
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Uploaders
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Flickr
Name[bg]=Flickr
Name[bs]=Flickr
Name[ca]=Flickr
Name[ca@valencia]=Flickr
Name[cs]=Flickr
Name[da]=Flickr
Name[de]=Flickr
Name[el]=Flickr
Name[en_GB]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[fi]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[gl]=Flickr
Name[hr]=Flickr
Name[hu]=Flickr
Name[it]=Flickr
Name[km]=Flickr
Name[lt]=Flickr
Name[nb]=Flickr
Name[nds]=Flickr
Name[nl]=Flickr
Name[pa]=ਫਲਿੱਕਰ
Name[pl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[ru]=Flickr
Name[sk]=Flickr
Name[sl]=Flickr
Name[sv]=Flickr
Name[tr]=Flickr
Name[ug]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx
Name[zh_CN]=Flickr
Name[zh_TW]=Flickr
Comment=Upload image to flickr.com
Comment[bg]=Качване на изображение във flickr.com
Comment[bs]=Slanje slike na flickr.com
Comment[ca]=Puja imatges a flickr.com
Comment[ca@valencia]=Puja imatges a flickr.com
Comment[cs]=Nahrát obrázek na flickr.com
Comment[da]=Upload billede til flickr.com
Comment[de]=Bild auf flickr.com hochladen
Comment[el]=Αποστολή φωτογραφίας στο flickr.com
Comment[en_GB]=Upload image to flickr.com
Comment[es]=Enviar imagen a flickr.com
Comment[et]=Piltide üleslaadimine flickr.com-i
Comment[fi]=Lähetä kuva flickr.com-sivustolle
Comment[fr]=Envoie une image vers « flickr.com »
Comment[gl]=Enviar imaxes a flickr.com
Comment[hr]=Postavi sliku na flickr.com
Comment[hu]=Képfeltöltés a flickr.com-ra
Comment[it]=Carica immagine su flickr.com
Comment[km]=ផ្ទុក​រូបភាព​ទៅកាន់​​ flickr.com
Comment[nb]=Last opp bilde til flickr.com
Comment[nds]=Bild na "flickr.com" hoochladen
Comment[nl]=Afbeelding uploaden naar flickr.com
Comment[pa]=ਚਿੱਤਰ flickr.com ਉੱਤੇ ਅੱਪਲੋਡ ਕਰੋ
Comment[pl]=Wyślij obraz na flickr.com
Comment[pt]=Enviar a imagem para o flickr.com
Comment[pt_BR]=Envia imagens para o flickr.com
Comment[ru]=Загрузка изображений на flickr.com
Comment[sl]=Pošlji sliko na flickr.com
Comment[sv]=Ladda upp bild till flickr.com
Comment[tr]=Resmi flickr.com'a yükle
Comment[uk]=Вивантаження зображення на flickr.com
Comment[x-test]=xxUpload image to flickr.comxx
Comment[zh_CN]=上传图像到 flickr.com
Comment[zh_TW]=上傳影像到 flickr.com
