[Desktop Entry]
Name=Choqok
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=KDE Micro-blogging Client
Terminal=false
X-DBUS-StartupType=Unique
X-Ubuntu-Gettext-Domain=desktop_kdesdk
