[Desktop Entry]
Name=choqoK
Name[sv]=Choqok
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Internet;
GenericName=A KDE4 Twitter Client
Terminal=0

X-Ubuntu-Gettext-Domain=desktop_kdesdk
