[Desktop Entry]
Name=choqoK
Exec=choqok %i -caption "%c"
Icon=choqok
Type=Application
Categories=Network;
GenericName=KDE Micro-blogging Client
GenericName[pt]=Cliente de Micro-Blogs do KDE
GenericName[pt_BR]=Cliente de Micro-Blogs do KDE
GenericName[uk]=Клієнт мікроблогів для KDE
GenericName[zh_TW]=KDE Micro-blogging 客戶端程式
Terminal=false
X-DBUS-StartupType=Unique
X-Ubuntu-Gettext-Domain=desktop_kdesdk
