[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_yfrog
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_yfrog
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Uploaders
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=YFrog
Name[da]=YFrog
Name[sv]=Yfrog
Name[uk]=YFrog
Name[x-test]=xxYFrogxx
Comment=Uploader plugin for yfrog.com service
Comment[da]=Uploader-plugin til tjenesten yfrog.com
Comment[sv]=Uppladdningsinsticksprogram för tjänsten yfrog.com
Comment[uk]=Додаток вивантаження для служби yfrog.com
Comment[x-test]=xxUploader plugin for yfrog.com servicexx
