[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=yfrog_uploader
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_yfrog
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_yfrog
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Uploaders
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=YFrog
Name[bg]=YFrog
Name[da]=YFrog
Name[de]=YFrog
Name[en_GB]=YFrog
Name[es]=YFrog
Name[et]=YFrog
Name[fr]=YFrog
Name[ja]=YFrog
Name[nb]=YFrog
Name[nl]=YFrog
Name[pl]=YFrog
Name[pt]=YFrog
Name[pt_BR]=YFrog
Name[sv]=Yfrog
Name[tr]=YFrog
Name[uk]=YFrog
Name[x-test]=xxYFrogxx
Name[zh_CN]=YFrog
Comment=Uploader plugin for yfrog.com service
Comment[bg]=Приставка за качване на медийни файлове чрез услугата yfrog.com
Comment[da]=Uploader-plugin til tjenesten yfrog.com
Comment[de]=Upload-Modul für den Dienst „yfrog.com“
Comment[en_GB]=Uploader plugin for yfrog.com service
Comment[es]=Complemento de envío para el servicio de yfrog.com
Comment[et]=Üleslaadimisplugin yfrog.com-i teenusele
Comment[fr]=Module externe d'envoi pour le service yfrog.com
Comment[ja]=yfrog.com サービスのためのアップローダプラグイン
Comment[km]=ផ្ទុក​ឡើង​កម្ម​វិធី​ជំនួយ​សម្រាប់សេវា​ yfrog.com 
Comment[nb]=Opplaster-programtillegg for yfrog.com-tjenesten
Comment[nl]=Uploader-plugin voor yfrog.com-service
Comment[pl]=Wtyczka wysyłania do serwisu yfrog.com
Comment[pt]='Plugin' de envio para os serviços do yfrog.com
Comment[pt_BR]=Plug-in de envio para o serviço yfrog.com
Comment[sv]=Uppladdningsinsticksprogram för tjänsten yfrog.com
Comment[uk]=Додаток вивантаження для служби yfrog.com
Comment[x-test]=xxUploader plugin for yfrog.com servicexx
Comment[zh_CN]=yfrog.com 服务的上传器插件
