[Desktop Entry]
Icon=kaboodle
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_yfrog
X-KDE-FactoryName=kcm_choqok_yfrog
X-KDE-ParentApp=choqok_yfrog
X-KDE-ParentComponents=choqok_yfrog

Name=YFrog
Name[bg]=YFrog
Name[da]=YFrog
Name[es]=YFrog
Name[fr]=YFrog
Name[nb]=YFrog
Name[pt]=YFrog
Name[sv]=Yfrog
Name[uk]=YFrog
Name[x-test]=xxYFrogxx
Comment=Uploader plugin for yfrog.com service
Comment[bg]=Приставка за качване на медийни файлове чрез услугата yfrog.com
Comment[da]=Uploader-plugin til tjenesten yfrog.com
Comment[es]=Complemento de envío para el servicio de yfrog.com
Comment[fr]=Module externe d'envoir pour le service yfrog.com
Comment[km]=ផ្ទុក​ឡើង​កម្ម​វិធី​ជំនួយ​សម្រាប់សេវា​ yfrog.com 
Comment[nb]=Opplaster-programtillegg for yfrog.com-tjenesten
Comment[pt]='Plugin' de envio para os serviços do yfrog.com
Comment[sv]=Uppladdningsinsticksprogram för tjänsten yfrog.com
Comment[uk]=Додаток вивантаження для служби yfrog.com
Comment[x-test]=xxUploader plugin for yfrog.com servicexx
