[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_choqok_pluginconfig
X-KDE-FactoryName=kcm_choqok_pluginconfig
X-KDE-ParentApp=choqok
X-KDE-ParentComponents=choqok
X-KDE-Weight=200

Name=Plugins
Name[bg]=Приставки
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[da]=Plugins
Name[de]=Module
Name[en_GB]=Plugins
Name[eo]=Kromprogrametoj
Name[es]=Complementos
Name[et]=Pluginad
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[gl]=Engadidos
Name[hr]=Priključci
Name[it]=Estensioni
Name[ja]=プラグイン
Name[km]=កម្មវិធី​ជំនួយ
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[nl]=Plugins
Name[pa]=ਪਲੱਗਇਨ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plug-ins
Name[ro]=Module
Name[sv]=Insticksprogram
Name[tr]=Eklentiler
Name[uk]=Додатки
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Select and Configure Plugins
Comment[bg]=Избор и настройки на приставките
Comment[ca]=Selecció i configuració dels connectors
Comment[ca@valencia]=Selecció i configuració dels connectors
Comment[da]=Vælg og indstil plugins
Comment[de]=Module auswählen und einrichten
Comment[en_GB]=Select and Configure Plugins
Comment[eo]=Elekti kaj agordi kromaĵojn
Comment[es]=Seleccionar y configurar los complementos
Comment[et]=Pluginate valimine ja seadistamine
Comment[fi]=Valitse liitännäisasetukset
Comment[fr]=Sélectionner et configurer les modules externes
Comment[ga]=Roghnaigh agus Cumraigh Breiseáin
Comment[gl]=Seleccione e configure engadidos
Comment[hr]=Odabir i podešavanje priključaka
Comment[it]=Seleziona e configura estensioni
Comment[ja]=プラグインの選択と設定
Comment[nb]=Velg og sett opp programtillegg
Comment[nds]=Modulen utsöken un instellen
Comment[nl]=Plugins selecteren en configureren
Comment[pa]=ਪਲੱਗਇਨ ਚੁਣੋ ਅਤੇ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Wybór i konfiguracja wtyczek
Comment[pt]=Seleccionar e Configurar os 'Plugins'
Comment[pt_BR]=Selecionar e configurar plug-ins
Comment[ro]=Alegeți și configurați modulele
Comment[sv]=Välj och anpassa insticksprogram
Comment[tr]=Eklentileri Seç ve Yapılandır
Comment[uk]=Оберіть і налаштуйте додатки
Comment[x-test]=xxSelect and Configure Pluginsxx
Comment[zh_CN]=选择并配置插件
Comment[zh_TW]=選擇與設定外掛程式
