[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=laconica_microblog
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_laconica
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_laconica
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=StatusNet
Name[bg]=StatusNet
Name[ca]=StatusNet
Name[ca@valencia]=StatusNet
Name[da]=StatusNet
Name[de]=StatusNet
Name[en_GB]=StatusNet
Name[eo]=StatusNet
Name[es]=StatusNet
Name[et]=StatusNet
Name[fi]=StatusNet
Name[fr]=StatusNet
Name[gl]=StatusNet
Name[hr]=StatusNet
Name[it]=StatusNet
Name[ja]=StatusNet
Name[km]=StatusNet
Name[nb]=StatusNet
Name[nds]=StatusNet
Name[nl]=StatusNet
Name[pa]=ਸਟੇਟਸਨੈੱਟ
Name[pl]=StatusNet
Name[pt]=StatusNet
Name[pt_BR]=StatusNet
Name[sv]=StatusNet
Name[tr]=StatusNet
Name[uk]=StatusNet
Name[x-test]=xxStatusNetxx
Name[zh_CN]=StatusNet
Name[zh_TW]=StatusNet
Comment=StatusNet (Laconica, identi.ca)
Comment[bg]=StatusNet (Laconica, identi.ca)
Comment[ca]=StatusNet (Laconica, identi.ca)
Comment[ca@valencia]=StatusNet (Laconica, identi.ca)
Comment[da]=StatusNet (Laconica, identi.ca)
Comment[de]=StatusNet (Laconica, identi.ca)
Comment[en_GB]=StatusNet (Laconica, identi.ca)
Comment[eo]=StatusNet (Laconica, identi.ca)
Comment[es]=StatusNet (Laconica, identi.ca)
Comment[et]=StatusNet (Laconica, identi.ca)
Comment[fi]=StatusNet (Laconica, identi.ca)
Comment[fr]=StatusNet (Laconica, identi.ca)
Comment[gl]=StatusNet (Laconica, identi.ca)
Comment[hr]=StatusNet (Laconica, identi.ca)
Comment[it]=StatusNet (Laconica, identi.ca)
Comment[ja]=StatusNet (Laconica, identi.ca)
Comment[km]=StatusNet (Laconica, identi.ca)
Comment[nb]=StatusNet (Laconica, identi.ca)
Comment[nds]=StatusNet (Laconica, identi.ca)
Comment[nl]=StatusNet (Laconica, identi.ca)
Comment[pl]=StatusNet (Laconica, identi.ca)
Comment[pt]=StatusNet (Laconica, identi.ca)
Comment[pt_BR]=StatusNet (Laconica, identi.ca)
Comment[sv]=StatusNet (Laconica, identi.ca)
Comment[tr]=StatusNet (Laconica, identi.ca)
Comment[uk]=StatusNet (Laconica, identi.ca)
Comment[x-test]=xxStatusNet (Laconica, identi.ca)xx
Comment[zh_CN]=StatusNet (Laconica、identi.ca)
Comment[zh_TW]=StatusNet (Laconica, identi.ca)
