[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=laconica_microblog
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_laconica
X-KDE-PluginInfo-Author=Mehrdad Momeny
X-KDE-PluginInfo-Email=mehrdad.momeny@gmail.com
X-KDE-PluginInfo-Name=choqok_laconica
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=MicroBlogs
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=StatusNet
Name[bg]=StatusNet
Name[da]=StatusNet
Name[de]=StatusNet
Name[en_GB]=StatusNet
Name[es]=StatusNet
Name[fr]=StatusNet
Name[gl]=StatusNet
Name[hr]=StatusNet
Name[it]=StatusNet
Name[nl]=StatusNet
Name[pt]=StatusNet
Name[pt_BR]=StatusNet
Name[sv]=StatusNet
Name[tr]=StatusNet
Name[uk]=StatusNet
Name[x-test]=xxStatusNetxx
Comment=StatusNet (Laconica, identi.ca)
Comment[bg]=StatusNet (Laconica, identi.ca)
Comment[da]=StatusNet (Laconica, identi.ca)
Comment[de]=StatusNet (Laconica, identi.ca)
Comment[en_GB]=StatusNet (Laconica, identi.ca)
Comment[es]=StatusNet (Laconica, identi.ca)
Comment[fr]=StatusNet (Laconica, identi.ca)
Comment[gl]=StatusNet (Laconica, identi.ca)
Comment[hr]=StatusNet (Laconica, identi.ca)
Comment[it]=StatusNet (Laconica, identi.ca)
Comment[nl]=StatusNet (Laconica, identi.ca)
Comment[pt]=StatusNet (Laconica, identi.ca)
Comment[pt_BR]=StatusNet (Laconica, identi.ca)
Comment[sv]=StatusNet (Laconica, identi.ca)
Comment[tr]=StatusNet (Laconica, identi.ca)
Comment[uk]=StatusNet (Laconica, identi.ca)
Comment[x-test]=xxStatusNet (Laconica, identi.ca)xx
