[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_longurl
X-KDE-PluginInfo-Author=Eugene Shalygin
X-KDE-PluginInfo-Email=eugene.shalygin@gmail.com
X-KDE-PluginInfo-Name=choqok_longurl
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://choqok.gnufolks.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Expand URLs via longurl.org
Name[ca]=Expandeix els URL via longurl.org
Name[cs]=Rozbalit URL pomocí longurl.org
Name[da]=Fold URL'er ud via longurl.org
Name[en_GB]=Expand URLs via longurl.org
Name[es]=Expandir los URL a través de longurl.org
Name[it]=Espandi URL con longurl.org
Name[nl]=Expandeer URL's via longurl.org
Name[pl]=Rozwiń adres URL przy użyciu longurl.org
Name[pt]=Expandir os URL's com o longurl.org
Name[pt_BR]=Expandir URLs através do longurl.org
Name[sl]=Razširi naslove URL preko longurl.org
Name[sv]=Expandera webbadresser via longurl.org
Name[uk]=Розгортання адрес за допомогою longurl.org
Name[x-test]=xxExpand URLs via longurl.orgxx
Comment=Extract the full URL using longurl.org service and show it as a tooltip
Comment[ca]=Extreu l'URL complet usant el servei longurl.org i el mostra com a un consell
Comment[cs]=Extrahovat kompletní URL pomocí služby longurl.org a ukázat jako rozšiřující popis
Comment[da]=Udtræk den fulde URL med brug af tjenesten longurl.org og vis den som et værktøjstip
Comment[en_GB]=Extract the full URL using longurl.org service and show it as a tooltip
Comment[es]=Extrae el URL completo utilizando el servicio de longurl.org lo muestra como un consejo emergente
Comment[it]=Estrai l'URL completo con il servizio longurl.org e mostralo come suggerimento
Comment[nl]=Extraheer de volledige URL met de service longurl.org en toon deze als een tekstballon
Comment[pl]=Wydobądź pełen adres URL przy użyciu longurl.org i pokaż go jako podpowiedź
Comment[pt]=Extrair o URL completo, usando o longurl.org, e mostrá-lo como uma dica
Comment[pt_BR]=Extrai a URL completa usando o serviço longurl.org e a exibe-a como uma dica
Comment[sl]=Pretvori v poln URL s pomočjo storitve longurl.org in ga prikaži kot orodni namig
Comment[sv]=Extrahera den fullständiga webbadressen med användning av tjänsten longurl.org, och visa den som ett verktygstips
Comment[uk]=Визначає повну форму запису адреси за допомогою longurl.org і показує її на панелі підказки
Comment[x-test]=xxExtract the full URL using longurl.org service and show it as a tooltipxx
