[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Choqok-Version=1
Icon=document-preview
ServiceTypes=Choqok/Plugin
X-KDE-Library=choqok_longurl
X-KDE-PluginInfo-Author=Eugene Shalygin
X-KDE-PluginInfo-Email=eugene.shalygin@gmail.com
X-KDE-PluginInfo-Name=choqok_longurl
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://choqok.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Expand URLs via longurl.org
Name[ar]=وسّع العناوين عبر longurl.org
Name[bs]=Raširi URL preko longurl.org
Name[ca]=Expandeix els URL via longurl.org
Name[ca@valencia]=Expandeix els URL via longurl.org
Name[cs]=Rozbalit URL pomocí longurl.org
Name[da]=Fold URL'er ud via longurl.org
Name[de]=URLs mit longurl.org erweitern
Name[el]=Επέκταση των URL μέσω longurl.org
Name[en_GB]=Expand URLs via longurl.org
Name[es]=Expandir los URL a través de longurl.org
Name[et]=URL-i avamine longurl.org-i abil
Name[eu]=Zabaldu URLak longurl.org erabiliz
Name[fi]=Laajenna verkko-osoitteet longurl.orgilla
Name[fr]=Extraire l'URL complète grâce à longurl.org
Name[gl]=Expandir enderezos URL mediante longurl.org
Name[hu]=URL-címek kibontása a longurl.org-gal
Name[it]=Espandi URL con longurl.org
Name[ko]=longurl.org로 단축 URL 확장
Name[nl]=Expandeer URL's via longurl.org
Name[pl]=Rozwiń adres URL przy użyciu longurl.org
Name[pt]=Expandir os URL's com o longurl.org
Name[pt_BR]=Expandir URLs através do longurl.org
Name[ru]=Раскрыть URL с помощью longurl.org
Name[sk]=Rozvinúť adresy URL cez longurl.org
Name[sl]=Razširi naslove URL preko longurl.org
Name[sv]=Expandera webbadresser via longurl.org
Name[tr]=Adresleri longurl.org kullanarak çıkart
Name[uk]=Розгортання адрес за допомогою longurl.org
Name[x-test]=xxExpand URLs via longurl.orgxx
Name[zh_CN]=通过 longurl.org 展开 URL
Name[zh_TW]=透過 longurl.org 展開 URL
Comment=Extract the full URL using longurl.org service and show it as a tooltip
Comment[ar]=استخرج العنوان الكامل عبر خدمة longurl.org وأظهره كتلميحة
Comment[bs]=Izvadi puni URL i koristeći longurl.org prikaži ga kao info-oblačić
Comment[ca]=Extreu l'URL complet usant el servei longurl.org i el mostra com a un consell
Comment[ca@valencia]=Extreu l'URL complet utilitzant el servei longurl.org i el mostra com a un consell
Comment[cs]=Extrahovat kompletní URL pomocí služby longurl.org a ukázat jako rozšiřující popis
Comment[da]=Udtræk den fulde URL med brug af tjenesten longurl.org og vis den som et værktøjstip
Comment[de]=Verkürzte Adressen (URLs) mit dem Dienst longurl.org in einer Kurzinfo vollständig anzeigen
Comment[el]=Εξαγωγή πλήρους URL με χρήση υπηρεσίας longurl.org και εμφάνισή του ως αιωρούμενο σχόλιο
Comment[en_GB]=Extract the full URL using longurl.org service and show it as a tooltip
Comment[es]=Extrae el URL completo utilizando el servicio de longurl.org lo muestra como un consejo emergente
Comment[et]=Täieliku URL-i väljalugemine longurl.org-i teenuse abil ja näitamine kohtspikrina
Comment[eu]=Erauzi URL osoa longurl.org zerbitzua erabiliz eta erakutsi argibide bezala
Comment[fi]=Poimi täysi URL käyttäen longurl.org-palvelua ja näytä se työkaluvihjeenä
Comment[fr]=Extraire l'URL complète à l'aide du service longurl.org et l'afficher comme infobulle
Comment[gl]=Extraer o URL completo mediante o servizo longurl.org e mostralo como mensaxe emerxente
Comment[hu]=A teljes URL-cím kibontása a longurl.org használatával és megjelenítés buboréksúgóként
Comment[it]=Estrai l'URL completo con il servizio longurl.org e mostralo come suggerimento
Comment[ko]=longurl.org 서비스로 전체 URL을 추출하고 풍선 도움말로 표시
Comment[nl]=Extraheer de volledige URL met de service longurl.org en toon deze als een tekstballon
Comment[pl]=Wydobądź pełen adres URL przy użyciu longurl.org i pokaż go jako podpowiedź
Comment[pt]=Extrair o URL completo, usando o longurl.org, e mostrá-lo como uma dica
Comment[pt_BR]=Extrai a URL completa usando o serviço longurl.org e a exibe como uma dica
Comment[ru]=Преобразует сокращённую ссылку в исходную с помощью службы longurl.org и показывает её во всплывающей подсказке
Comment[sk]=Extrahovať celú adresu URL pomocou služby longurl.org a zobraziť ju ako popis
Comment[sl]=Pretvori v poln URL s pomočjo storitve longurl.org in ga prikaži kot orodni namig
Comment[sv]=Extrahera den fullständiga webbadressen med användning av tjänsten longurl.org, och visa den som ett verktygstips
Comment[tr]=Tam adresleri longurl.org servisini kullanarak çıkart ve bir ipucu olarak göster
Comment[uk]=Визначає повну форму запису адреси за допомогою longurl.org і показує її на панелі підказки
Comment[x-test]=xxExtract the full URL using longurl.org service and show it as a tooltipxx
Comment[zh_CN]=使用 longurl.org 服务展开完整 URL 并显示为一条提示
Comment[zh_TW]=使用 longurl.org 服務展開完整的網址，並顯示在工具提示中
